f- string

In [7]:
food = "Jollof rice"
place = "Alice"
print(f"we are going to {place} to eat {food}.")

we are going to Alice to eat Jollof rice.

.format method

In [9]:
food = "Jollof rice"
place = "Alice"
print("we are going to {} to eat {}".format(place,food))

we are going to Alice to eat Jollof rice

In [11]:
rice_price = 500
beans_price = 600
yam_price = 200

total = rice_price + beans_price + yam_price
print(total)

1300

In [1]:
#Variables to store prices of different items

price_of_vanilla_icecream = 10.00
price_of_chocolate_icecream = 3.00
price_of_cone = 0.75

In [3]:
# Variable to store the number of items
number_of_vanilla = 2
number_of_chocolate = 1
number_of_cones = 3

Using print formatting e.g print("The total cost is:", total_cost), "The total cost is:" is a way ensuring that while printing the output, the output will come up uniquely by printing the total cost is 2605.25, this is mor clearer and concise than just printing 2605.25. print formating or strucured and concise way of printing output can include String concatenation, The % operator, .format(), f-strings (formatted string literals).

In [13]:
# Calculate the total cost
# We need to multiply
total_cost = (total * number_of_vanilla) + (price_of_chocolate_icecream * number_of_chocolate) + (price_of_cone * number_of_cones)

# Output the total cost
print("The total cost is:", total_cost)

The total cost is: 2605.25

In [17]:
#String concatenation

# Example:
dish = "Jollof Rice"
occasion = "birthday"
print("For my "+ occasion + " we will serve " + dish)


#print("For the " + occasion + ", we will serve delicious " + dish + ".")

For my birthday we will serve Jollof Rice

In [21]:
money = "1000 dollars"
ceremony = "send forth"

print("I will give you "+money+" for the " +ceremony)

I will give you 1000 dollars for the send forth

In [27]:
#% Operator:
#Commonly Used Icons/Placeholders:

#%s is used to represent strings
#%d is used to represent integers
#%f is used to represent floats
#%r is used to represent debugging representation

#Example:
artist = "Fejosbaba"
album = "Breathing letters"
rate = 500
print("The latest album by %s is titled %s has the highest rate of %d"  %(artist, album, rate))


#print("The latest album by %s is titled %s." % (artist, album, rate))

#The %d is  like an icon used to represent different types of items.

The latest album by Fejosbaba is titled Breathing letters has the highest rate of 500

Datatype and structures: primitive datatypes are strings, boolean, float and integers while non- primitive are used for complex tasks built by primitive datatypes it include built in(list, turple, dictionary and sets) and user friendly (queue,stack, linkedlist and tree)

In [34]:
#strings

#Ore's name as a string
Place = 'Akure'
Best_food = "Pounded-yam"

print(place, Best_food)

# Job title as a string
job_title = "Ifedayo AKERELE"
print(job_title)

Alice Pounded-yam
Ifedayo AKERELE

In [38]:
code = "We are studying hard here man ! "

#print(len(code))
#print(code[4])
#print(code[0])

print(code[-3])
print(code+ 'you may join us')
print(code.lower())
print(code.upper())
print(code.strip())

We are studying hard here man ! you may join us
we are studying hard here man !
WE ARE STUDYING HARD HERE MAN !
We are studying hard here man !

In [40]:
print(code.find('here'))

#returns the index at which the word "learning" starts

21

In [44]:
print(code.replace('hard', "easily"))

#returns the index at which the word "learning" starts

We are studying easily here man !

In [48]:
splitted_codes = code.split(" ")

print(splitted_codes)

['We', 'are', 'studying', 'hard', 'here', 'man', '!', '']

In [50]:
#joining a list of elements into a single string
#this joins the elements of thes_splitted variable into a sentence or single string with each word seperated from the other by spaces

Original_code = ' '.join(splitted_codes)

print(Original_code)

We are studying hard here man !

In [52]:
#looping

y = 'That AI and ML guy'

print(y[-9])
print(y[:5])
print(y[::2])  #loops over the string and selects the second letter at each interval
print(y[::4])
print(y[::-1])

n
That
Ta IadM u
T aMu
yug LM dna IA tahT

In [56]:
#creating an empty list, Lists are in square brackets[]
jobs = []

In [58]:
print(type(jobs))

<class 'list'>

In [60]:
plant_products = ['Beans', 'Yam', 'Soybean', 'Plantain']
print(type(plant_products)) #what kind of data structure?
print(len(plant_products)) #what is the length of the data structure?

<class 'list'>
4

In [62]:
#remember we said that data structures could contain multiple types of primitive data structures
plant_products.append(True) #adding a boolean
plant_products.append('ORANGE') #a string
plant_products.append(21.678) #a float number
plant_products.append([56, 'Rocket']) # adding a list data structure within a list

print(plant_products)

['Beans', 'Yam', 'Soybean', 'Plantain', True, 'ORANGE', 21.678, [56, 'Rocket']]

Indexing

In [73]:
print(plant_products[2])

Soybean

In [75]:
#lists are mutable that means that they can be mofified after they have been created

#modifies the 4th element
plant_products[3] = 'I will work at NASA someday.'

#modifies the second value of the list at the 8th position
plant_products[7][1] = 'United states of America'
print(plant_products)

['Beans', 'Yam', 'Soybean', 'I will work at NASA someday.', True, 'ORANGE', 21.678, [56, 'United states of America']]

In [77]:
#sorting a list - the list to be sorted should be homogenuous, i.e of the same data types, IN ORDERLY FORMS

fold = [1,5,90, 87, 56, 43, 23, 21, 12, 34, 1, 2]

print('list before sorting: ', fold)

fold.sort()

print('list after sorting: ', fold)

list before sorting:  [1, 5, 90, 87, 56, 43, 23, 21, 12, 34, 1, 2]
list after sorting:  [1, 1, 2, 5, 12, 21, 23, 34, 43, 56, 87, 90]

In [79]:
plant_products.extend(fold)

print(plant_products)

['Beans', 'Yam', 'Soybean', 'I will work at NASA someday.', True, 'ORANGE', 21.678, [56, 'United states of America'], 1, 1, 2, 5, 12, 21, 23, 34, 43, 56, 87, 90]

In [81]:
#reversing the list
fold.reverse()
print(fold)

[90, 87, 56, 43, 34, 23, 21, 12, 5, 2, 1, 1]

Concatenating list

In [83]:
print(plant_products+fold)

['Beans', 'Yam', 'Soybean', 'I will work at NASA someday.', True, 'ORANGE', 21.678, [56, 'United states of America'], 1, 1, 2, 5, 12, 21, 23, 34, 43, 56, 87, 90, 90, 87, 56, 43, 34, 23, 21, 12, 5, 2, 1, 1]

Tuple are ordered collection of items, enclosed in parentheses () and are immutable, they cannot be changed once they have been created.

In [101]:
#a tuple containing different data types and data structures
Fruits = ("Mango", 'Cherry', 'Beans', "Pawpaw", 'FalseFruits', ('Good Fruits'), 'Oranges',  ["tomatoes", "ginger","tumeric"])

#applying attributes
print(type(Fruits))
print(len(Fruits))

#using indexing
print(Fruits[2:4]) #selects the 3rd and 4th values in the tuple

<class 'tuple'>
8
('Beans', 'Pawpaw')

In [106]:
Fruits.count("Mango")

1

In [108]:
#set An unordered collection of unique items, enclosed in curly braces {} or created using the set() function. Sets do not allow duplicates and are mutable
set = set([1,1,2,2,3,3,4,4,5,4,5,'NASA'])

print(set)
#sets do not allow duplicate values

{1, 2, 3, 4, 5, 'NASA'}

In [116]:
s = {1,2,3,4,5,6,7,8,9}
print(type(s))

<class 'set'>

In [130]:
set1 = {1,2,3,4,"orange","pineapple"}
set2 = {5,6,7,4,"apple","cherry"}
set3 = {7,8,9,10,"water melon","carrot"}

#operations that can be carried out on sets

#concatenation or union
print(set1|set2|set3)
print(set1.union(set3))

#intersection
print(set1&set2)
print(set1.intersection(set2))

#difference
print(set1-set3)
print(set1.difference(set2))
print(set2-set1)

#symmetric difference -- a set of elements that are either in set1 or set2 but not in both
print(set1^set2)

{1, 2, 3, 4, 5, 'cherry', 7, 6, 'water melon', 8, 9, 10, 'carrot', 'pineapple', 'orange', 'apple'}
{1, 2, 3, 4, 'water melon', 7, 8, 9, 10, 'carrot', 'pineapple', 'orange'}
{4}
{4}
{1, 2, 3, 4, 'pineapple', 'orange'}
{1, 2, 3, 'pineapple', 'orange'}
{5, 6, 'cherry', 7, 'apple'}
{1, 2, 3, 5, 'cherry', 7, 6, 'apple', 'pineapple', 'orange'}

In [132]:
set1 = {1,2,3,4,"orange","pineapple"}

set1.add("apple")
print(set1)

set2.remove("cherry")
print(set2)

{1, 2, 3, 4, 'orange', 'pineapple', 'apple'}
{4, 5, 7, 6, 'apple'}

Dictionary : An unordered collection of key-value pairs, enclosed in curly braces {} Each key is unique and associated with a corresponding value.

The key refers to the value before the colon and the key represents the value after the colon.

In [135]:
Olusegun_Oke_Library = {}

Olusegun_Oke_Library = {'FAG': 'crop', 'FFCS': 'beans', 'NUD': 'good cholesterol', 'FGMS': 'Accounting', "FNS": "Nursing"}

print(Olusegun_Oke_Library)

{'FAG': 'crop', 'FFCS': 'beans', 'NUD': 'good cholesterol', 'FGMS': 'Accounting', 'FNS': 'Nursing'}

In [137]:
#updating dictioanries - keys are immutable while values are mutable

Olusegun_Oke_Library['FFCS'] = 'rice and beans with plantain and vegetable sauce🤗'
Olusegun_Oke_Library['FBMS'] = 'Medicine'
Olusegun_Oke_Library['PASSA'] = 'Biology'
Olusegun_Oke_Library['FCI'] = 'Computer'
Olusegun_Oke_Library['FAS'] = 'Library'
print(Olusegun_Oke_Library)

{'FAG': 'crop', 'FFCS': 'rice and beans with plantain and vegetable sauce🤗', 'NUD': 'good cholesterol', 'FGMS': 'Accounting', 'FNS': 'Nursing', 'FBMS': 'Medicine', 'PASSA': 'Biology', 'FCI': 'Computer', 'FAS': 'Library'}

In [139]:
#deleting a key-value pair
del Olusegun_Oke_Library['FAS']
Olusegun_Oke_Library

{'FAG': 'crop',
 'FFCS': 'rice and beans with plantain and vegetable sauce🤗',
 'NUD': 'good cholesterol',
 'FGMS': 'Accounting',
 'FNS': 'Nursing',
 'FBMS': 'Medicine',
 'PASSA': 'Biology',
 'FCI': 'Computer'}

In [141]:
#prints all the keys and values in the dictionary
print("The keys include:", Olusegun_Oke_Library.keys(),'\n')
print("The values include:",Olusegun_Oke_Library.items())

#where '\n' = line break

The keys include: dict_keys(['FAG', 'FFCS', 'NUD', 'FGMS', 'FNS', 'FBMS', 'PASSA', 'FCI'])

The values include: dict_items([('FAG', 'crop'), ('FFCS', 'rice and beans with plantain and vegetable sauce🤗'), ('NUD', 'good cholesterol'), ('FGMS', 'Accounting'), ('FNS', 'Nursing'), ('FBMS', 'Medicine'), ('PASSA', 'Biology'), ('FCI', 'Computer')])

In [143]:
Olusegun_Oke_Library.keys()

dict_keys(['FAG', 'FFCS', 'NUD', 'FGMS', 'FNS', 'FBMS', 'PASSA', 'FCI'])

In [145]:
Olusegun_Oke_Library.items()

dict_items([('FAG', 'crop'), ('FFCS', 'rice and beans with plantain and vegetable sauce🤗'), ('NUD', 'good cholesterol'), ('FGMS', 'Accounting'), ('FNS', 'Nursing'), ('FBMS', 'Medicine'), ('PASSA', 'Biology'), ('FCI', 'Computer')])

Summary

Lists:
Mutable
Dynamic as they can increase or be decreased in size
Ordered collection of items which means it can be indexed and sliced

Tuples:
Similar to lists
Immutable
Allows slicing and indexing
Dictionary:

Keys are immutable and unique, values are mutable
Unordered collection of items which means they cannot be indexed

Sets:
No duplicates are allowed
Unordered collection of items which means they do not allow indexing or slicing
They are mutable

In [151]:
task_status = {'Done', 'In progress', 'Not done'}

my_to_do_list = {'Tasks': ['Morning routine', 'Python practice', 'Pray', 'Study Bible', 'Eat', ' Do Data Analysis project'],
            'Time(mins)': [120, 20, 60, 120, 30, 90,100],
            'Status': ['Done', 'Done', 'Done', 'Not done', 'Done', 'In progress',"Not done"]
           }

print("{:<15} {:<15} {:<15}".format('Tasks', 'Time(mins)', 'Status'))

for task, time, status in zip(my_to_do_list['Tasks'], my_to_do_list['Time(mins)'], my_to_do_list['Status']):
    print("{:<15} {:<15} {:15}".format(task, time, status))

Tasks           Time(mins)      Status
Morning routine 120             Done
Python practice 20              Done
Pray            60              Done
Study Bible     120             Not done
Eat             30              Done
 Do Data Analysis project 90              In progress

In [153]:
## Features for the program

#1 Add tasks to the to-do list.

new_task = 'Sleep'
time = 240
status = 'Done'

my_to_do_list['Tasks'].append(new_task)
my_to_do_list['Time(mins)'].append(time)
my_to_do_list['Status'].append(status)

for task, time, status in zip(my_to_do_list['Tasks'], my_to_do_list['Time(mins)'], my_to_do_list['Status']):
    print("{:<15} {:<15} {:15}".format(task, time, status))

Morning routine 120             Done
Python practice 20              Done
Pray            60              Done
Study Bible     120             Not done
Eat             30              Done
 Do Data Analysis project 90              In progress
Sleep           100             Not done

In [157]:
#2 removing tasks from the to_do list

del my_to_do_list['Tasks'][5]

my_to_do_list

for task, time, status in zip(my_to_do_list['Tasks'], my_to_do_list['Time(mins)'], my_to_do_list['Status']):
    print("{:<15} {:<15} {:15}".format(task, time, status))

Morning routine 120             Done
Python practice 20              Done
Pray            60              Done
Study Bible     120             Not done
Eat             30              Done
Sleep           90              In progress

In [159]:
#3 updating tasks

my_to_do_list['Status'][5] = 'Done'

for task, time, status in zip(my_to_do_list['Tasks'], my_to_do_list['Time(mins)'], my_to_do_list['Status']):
    print("{:<15} {:<15} {:<15}".format(task, time, status))

Morning routine 120             Done
Python practice 20              Done
Pray            60              Done
Study Bible     120             Not done
Eat             30              Done
Sleep           90              Done

In [161]:
my_to_do_list['Status'][3] = 'Done'

for task, time, status in zip(my_to_do_list['Tasks'], my_to_do_list['Time(mins)'], my_to_do_list['Status']):
    print("{:<15} {:<15} {:<15}".format(task, time, status))

Morning routine 120             Done
Python practice 20              Done
Pray            60              Done
Study Bible     120             Done
Eat             30              Done
Sleep           90              Done

Operator: arithmetic, logical, comparison, assignment, identity, membership, relational

In [165]:
# Define the budget and total expenses
budget = 2000
total_expenses = 18000

# Check if total expenses are within the budget
if total_expenses <= budget:
    print("You are within your budget.")
else:
    print("You have exceeded your budget.")

You have exceeded your budget.

List of Operators
and: Returns True only if both conditions are true.
or: Returns True if at least one of the conditions is true.
not: Reverses the result of a condition, making True become False, and vice versa.

In [167]:
# Check availability of items
bread_available = True
peanut_butter_available = True

# Again, copy this code and observe the result
# Use 'and' to check if both items are available

if bread_available and peanut_butter_available:
    print("You can buy both bread and peanut butter.")
else:
    print("One or both items are not available.")

You can buy both bread and peanut butter.

In [169]:
# Check if places are open
movies_open = False
park_open = True

# Use 'or' to check if at least one place is open
if movies_open or park_open:
    print("You can go out this weekend!")
else:
    print("Both places are closed.")

You can go out this weekend!

In [175]:
# Check the weather condition; is it raining
is_raining = False
# False means it is not raining

# `not` negates, that is it gives you the opposite of a task;
can_we_go_for_picnic = not is_raining
print(can_we_go_for_picnic)

True

In [177]:
print("Can we go for a picnic?", can_we_go_for_picnic)

Can we go for a picnic? True

List of Operators:
= (Assign):

This operator assigns a value to a variable.
Example: x = 10 assigns the value 10 to the variable x.
+= (Add and Assign):

This operator adds a value to a variable and assigns the result back to that variable.

In [179]:
y = 8
y += 3  # Equivalent to x = x + 3

print(y)

11

In [183]:
a = 10
a -= 4  # Equivalent to x = x - 4
print(a)

6

In [185]:
q = 3
q *= 4  # Equivalent to x = x * 4
print(q)

12

In [187]:
x = 20
x /= 5  # Equivalent to x = x / 5
print(x)

4.0

In [189]:
x = 5
y = 2
print(x%y)

1

In [191]:
x = 10
x %= 3  # Equivalent to x = x % 3
print(x)

1

In [195]:
# Initial savings
savings = 10000

# You spend 1000, so subtract that from your savings

savings -= 500  # This updates the savings in one step
print(f"Savings after expenses: ${savings}")  # Output: $1500

# Someone transfered 20000 to your account and you add it to your savings

savings += 20000  # This updates the savings in one step
print(f"Savings after credit alert: ${savings}")  # Output: $29500

# You receive a bonus of 300, so add that to your savings
savings += 300  # This updates the savings in one step
print(f"Savings after bonus: ${savings}")

Savings after expenses: $9500
Savings after credit alert: $29500
Savings after bonus: $29800

In [197]:
#identity operator
basket1 = ["apple", "banana", "cherry"]
basket2 = basket1  # basket2 refers to the same basket as basket1
basket3 = ["apple", "banana", "cherry"]  # basket3 is a different basket

print(basket1 is basket2)  # Output: True  (Same basket)
print(basket1 is basket3)  # Output: False (Different baskets)
print(basket2)

True
False
['apple', 'banana', 'cherry']

In [199]:
print(basket1 is not basket2)  # Output: False (Same basket)
print(basket1 is basket3)  # Output: True  (Different baskets)

False
False

In [201]:
# Two lists representing two baskets of fruits
basket_a = ["apple", "banana", "cherry"]
basket_b = ["apple", "banana", "cherry"]  # A different basket with the same fruits
basket_c = basket_a  # basket_c points to the same basket as basket_a

# Comparing identity
print(basket_a is basket_b)  # Output: False (Different baskets)
print(basket_a is basket_c)  # Output: True  (Same basket)

False
True

In [203]:
#MEMBERSHIP OPERATORS

# Say you have a list of expense categories
categories = ["rent", "groceries", "transportation"]

# Check if 'groceries' is "in" the list
print("groceries" in categories)  # Output: True

True

In [205]:
# List of students in the class
students = ["Alisha", "Blessing", "Charlie", "Remi"]

# As usual, kinldy ignore the strange word `if` for now.
# Check if 'Ola' is in the list of students
if "Ola" in students:
    print("Ola is present in the class.")  # This message will be printed
else:
    print("not in class")

# Check if 'Sade' is in the list of students
if "Sade" not in students:
    print("Sade is not enrolled in this class.")  # This message will be printed

not in class
Sade is not enrolled in this class.