CONTROL FLOW STRUCTURES: They allow you to know what to execute and when to execute. it is a programming language that can be used for looping and control structures.
if: Executes a block of code if the given condition evaluates to True.
elif: Stands for "else if" and is used to check another condition if the previous one was False.
else: Executes a block of code when all previous conditions are False

In [1]:
#example
weather = "sunny"

if weather == "cloudy":
    print("Do not go out")

elif weather == "rainy":
    print("You can run home to avoid the rain")

else:
    print(" you need to be sure of what you are doing")

 you need to be sure of what you are doing

In [3]:
age = 30

if age == 20:
    print("you can go ahead and vote Miss Bella")

elif age == 45:
    print("you are too old for the vote Miss Bella go and marry and enjoy your home")

else:
    print("we need bonofide or qualified people here")

we need bonofide or qualified people here

In [4]:
if age == 20:
    Output = "you can go ahead and vote Miss Bella"

elif age == 45:
    Output= "you are too old for the vote Miss Bella go and marry and enjoy your home"

else:
    Output = "we need bonofide or qualified people here"
    print(Output)

we need bonofide or qualified people here

#An even better way to write the above
#This is known as ternary operators
Ternary Operators: A Concise Conditional Expression

A ternary operator, also known as a conditional operator, is a concise way to express a simple if-else condition in a single line of code. It's a shorthand for a basic if-else statement.

In [6]:
Output = "you can go ahead and vote Miss Bella" if age == 20 else "we need bonofide or qualified people here"
print(Output)

we need bonofide or qualified people here

In [11]:
Output = "you can go ahead and vote Miss Bella" if age == 20 else "you are too old for the vote Miss Bella go and marry and enjoy your home" if age == 45 else "we need bonofide or qualified people here"
print(Output)

you are too old for the vote Miss Bella go and marry and enjoy your home

In [9]:
Output = (
    "you can go ahead and vote Miss Bella" if age == 20
    else "you are too old for the vote Miss Bella go and marry and enjoy your home" if age == 45
    else "we need bonafide or qualified people here"
)

print(Output)

we need bonafide or qualified people here

In [10]:
age = 45

Nested if-else statements

In [20]:
age = 20
Nationality = "Nigeria"

if Age >= 18:
    if Nationality == "America":
        print("You are not a citizen, you can please wait till the time your Country will be voting")
    else:
         print("You are not Eligible")

else:
         print("You are welcome, kindly cast your vote")

You are not Eligible

In [31]:
grade = 75

if 70 >= grade <= 100:
    print("You are very brilliant, because you score: ",end= "")
    if grade >=90:
        print("A")
    elif grade >= 70:
        print("B")
    elif grade <= 69:
        print("C")
else:
    print("no valid score")

no valid score

In [28]:
grade = 75

if 70 <= grade <= 100:
    print("You are very brilliant, because you score: ", end="")
    if grade >= 90:
        print("A")
    elif grade >= 70:
        print("B")
    elif grade <= 69:
        print("C")
else:
    print("Invalid grade or below passing mark.")

You are very brilliant, because you score: B

In [ ]:
Loops are used to repeat a block of code multiple times. In Python, there are two types of loops: for loops and while loops.

In [ ]:
Data_balance = 0

while Data_balance == 0:
    print("you have no sufficient data!")

Data_balance = 100
print("you now have suffient data!")

In [ ]:
airtime = 100

while airtime > 20:
    airtime = airtime+1
    print(airtime)

In [ ]:
airtime = 20

while airtime >= 100:
    print(airtime)
    airtime = airtime + 1

In [ ]:
airtime = 0

while airtime <= 9:
    print("airtime is now: ", airtime)
    airtime = airtime+1
print("Good luck your! airtime is now: ", airtime)

In [ ]:
airtime = 0

while airtime <= 9:
    print("airtime is now: ", airtime)
    airtime = airtime + 1
print("Good luck your! airtime is now: ", airtime)

In [1]:
Names = [ "Kay", "Bella", "Ade", "Peace"]

for Name in Names:
    print(f"Your name is: ",Name)

Your name is:  Kay
Your name is:  Bella
Your name is:  Ade
Your name is:  Peace

In [9]:
Group_members =  {'Names': "Oyin", "Next": "Ife", "Another": "Glorious"}
for Group in Group_members.values():
    print(Group)

Oyin
Ife
Glorious

In [10]:
for key, value in Group_members.items():
    print(key, '->', value)

Names -> Oyin
Next -> Ife
Another -> Glorious

In [1]:
Questions = ['What has long neck and likes to eat leaves?', 'What animal can fly?', 'What is a group of lions called?']

score = 0

for question in Questions:
    print(f'\n{question}')
    Answer = str(input())

    if Answer == 'Giraffe':
        point = 1
        score += 1
        print('\nCorrect! ', point, 'point')

    elif Answer == 'Bird':
        point = 1
        score += 1
        print('\nCorrect! ', point, 'points')

    elif Answer == 'Pride':
        point = 1
        score += 1
        print('\nCorrect! Total point ', point)

    else:
        print('\nWrong answer!')
print(f'\n\nTotal points = {score}')

What has long neck and likes to eat leaves?

 Giraffe

Correct!  1 point

What animal can fly?

 Bird

Correct!  1 points

What is a group of lions called?

 Pride

Correct! Total point  1


Total points = 3

In [2]:
Questions = ['What has long neck and likes to eat leaves?', 'What animal can fly?', 'What is a group of lions called?']

for question in Questions:
    print(question)
    Answer = str(input())

    if Answer == 'Giraffe':
        point = 1
        print('Correct answer, you have: ', point, 'point')

    elif Answer == 'Bird':
        point = point+1
        print('Correct! You have ', point, 'points')

    elif Answer == 'Pride':
        point = point+1
        print('Correct! Total points: ', point)

    else:
        print('Wrong answer, you have ', 0, 'points')

What has long neck and likes to eat leaves?

 Giraffe

Correct answer, you have:  1 point
What animal can fly?

 Bird

Correct! You have  2 points
What is a group of lions called?

 Pride

Correct! Total points:  3

Why Use Functions?
Reusability: Write code once, use it many times.
Readability: Organizes code into smaller chunks that are easier to understand.
Debugging: Easier to troubleshoot and fix bugs when code is broken into functions.
Modularity: Makes it easier to divide and conquer problems.

In [6]:
def calculate_area(width, height):
  area = width * height
  return area

In [7]:
width = 5
height = 10

In [9]:
calculate_area(5,10)

50

In [10]:
calculate_area(21,3)
calculate_area(5,20)

100

In [11]:
def discipleship_training():
    print("You are welcome")

In [12]:
discipleship_training()

You are welcome

In [13]:
def greet(name):
    print("Hello,", name)

# calling the function

In [14]:
greet("Ifedayo")
greet("Mr_Seun")
greet("CEO")

Hello, Ifedayo
Hello, Mr_Seun
Hello, CEO

In [1]:
def add_numbers(a, b):
    return a + b

# call functions
result = add_numbers(3, 5)
print(result)

8

In [2]:
grade = add_numbers(30, 50)

In [3]:
grade

80

In [4]:
def greet(first_name, last_name):
    print("Hello,", first_name, " ", last_name)

greet("Ifedayo", "AKERELE")

Hello, Ifedayo   AKERELE

In [5]:
def greet(first_name, last_name="DAVID"):
    print(f"Hello, {first_name} {last_name}!")

greet("Alice")
greet("Alice", "Johnson")

Hello, Alice DAVID!
Hello, Alice Johnson!

In [7]:
def greet(last_name, first_name="David"):
    print(f"Hello, {first_name} {last_name}!")

greet(last_name="Alice")
greet("Alice", "Johnson")

Hello, David Alice!
Hello, Johnson Alice!

In [8]:
def greet(first_name, last_name):
    print(f"Hello how are you, {first_name} {last_name}?")

greet(last_name="Pearl", first_name="David")

Hello how are you, David Pearl?

In [9]:
def describe_person(name, age=25, city="Brazil"):
    print(f"{name} is {age} years old and lives in {city}.")

describe_person("Alice", 50, "Nigeria")
describe_person("Bob", 30)
describe_person(name="Charlie", city="Paris")

Alice is 50 years old and lives in Nigeria.
Bob is 30 years old and lives in Brazil.
Charlie is 25 years old and lives in Paris.

In [12]:
print('Enter a number...')
user_input = int(input())

print('Number is ', "even_odd ",(user_input))

Enter a number...

 70

Number is  even_odd  70

In [13]:
print ("Enter your password....")
user_input = str(input())

print('Login successful ', 'your password remains',(user_input))

Enter your password....

 pearl

Login successful  your password remains pearl

In [14]:
def even_odd(var):
    if var % 2 == 0:
        return 'Even'
    else:
        return 'Odd'

even_odd(5678034651700975358)

'Even'

In [15]:
def check_even_odd(num):
    if num % 2 != 0:
        num*=10
    else:
        num
    return num

print('Enter a number...')
user_input = int(input())

print(check_even_odd(user_input))

Enter a number...

 77

770

In [17]:
import os
import os.path
print(os.name)

#where nt is used to represent windows operating system
#'posix' for example indictes a Unix-like operating system

nt

In [18]:
os.listdir('.')

['.anaconda',
 '.conda',
 '.condarc',
 '.continuum',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.oracle_jre_usage',
 '.spss',
 '3D Objects',
 'anaconda3',
 'AppData',
 'Application Data',
 'Contacts',
 'Cookies',
 'Desktop',
 'Documents',
 'Downloads',
 'Favorites',
 'Geneious 9.1 Data',
 'Links',
 'Local Settings',
 'May 9 practice .ipynb',
 'MicrosoftEdgeBackups',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{af8fef8a-e361-11ea-b5a4-080027b87d2a}.TM.blf',
 'NTUSER.DAT{af8fef8a-e361-11ea-b5a4-080027b87d2a}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{af8fef8a-e361-11ea-b5a4-080027b87d2a}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Pictures',
 'PrintHood',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Templates',
 'Videos']

In [19]:
os.environ

environ{'ALLUSERSPROFILE': 'C:\\ProgramData',
        'APPDATA': 'C:\\Users\\USER\\AppData\\Roaming',
        'COMMONPROGRAMFILES': 'C:\\Program Files\\Common Files',
        'COMMONPROGRAMFILES(X86)': 'C:\\Program Files (x86)\\Common Files',
        'COMMONPROGRAMW6432': 'C:\\Program Files\\Common Files',
        'COMPUTERNAME': 'DESKTOP-O6J6LKQ',
        'COMSPEC': 'C:\\Windows\\system32\\cmd.exe',
        'CONDA_DEFAULT_ENV': 'C:\\Users\\USER\\AppData\\Local\\anaconda3',
        'CONDA_EXE': 'C:\\Users\\USER\\anaconda3\\Scripts\\conda.exe',
        'CONDA_PREFIX': 'C:\\Users\\USER\\AppData\\Local\\anaconda3',
        'CONDA_PROMPT_MODIFIER': '(C:\\Users\\USER\\AppData\\Local\\anaconda3) ',
        'CONDA_PYTHON_EXE': 'C:\\Users\\USER\\anaconda3\\python.exe',
        'CONDA_ROOT': 'C:\\Users\\USER\\anaconda3',
        'CONDA_SHLVL': '1',
        'DRIVERDATA': 'C:\\Windows\\System32\\Drivers\\DriverData',
        'FPS_BROWSER_APP_PROFILE_STRING': 'Internet Explorer',
        'FPS_BROWSER_USER_PROFILE_STRING': 'Default',
        'HOMEDRIVE': 'C:',
        'HOMEPATH': '\\Users\\USER',
        'IPY_INTERRUPT_EVENT': '3360',
        'JPY_INTERRUPT_EVENT': '3360',
        'JPY_PARENT_PID': '3120',
        'JPY_SESSION_NAME': 'C:\\Users\\USER\\May 9 practice .ipynb',
        'LOCALAPPDATA': 'C:\\Users\\USER\\AppData\\Local',
        'LOGONSERVER': '\\\\DESKTOP-O6J6LKQ',
        'NUMBER_OF_PROCESSORS': '4',
        'ONEDRIVE': 'C:\\Users\\USER\\OneDrive',
        'OS': 'Windows_NT',
        'PATH': 'C:\\Users\\USER\\AppData\\Local\\anaconda3;C:\\Users\\USER\\AppData\\Local\\anaconda3\\Library\\mingw-w64\\bin;C:\\Users\\USER\\AppData\\Local\\anaconda3\\Library\\usr\\bin;C:\\Users\\USER\\AppData\\Local\\anaconda3\\Library\\bin;C:\\Users\\USER\\AppData\\Local\\anaconda3\\Scripts;C:\\Users\\USER\\AppData\\Local\\anaconda3\\bin;C:\\Users\\USER\\anaconda3\\condabin;C:\\Users\\USER\\anaconda3;C:\\Users\\USER\\anaconda3\\Library\\mingw-w64\\bin;C:\\Users\\USER\\anaconda3\\Library\\usr\\bin;C:\\Users\\USER\\anaconda3\\Library\\bin;C:\\Users\\USER\\anaconda3\\Scripts;C:\\Windows\\system32;C:\\Windows;C:\\Windows\\System32\\Wbem;C:\\Windows\\System32\\WindowsPowerShell\\v1.0;C:\\Windows\\System32\\OpenSSH;C:\\Users\\USER\\AppData\\Local\\Microsoft\\WindowsApps;.',
        'PATHEXT': '.COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC',
        'PROCESSOR_ARCHITECTURE': 'AMD64',
        'PROCESSOR_IDENTIFIER': 'Intel64 Family 6 Model 122 Stepping 8, GenuineIntel',
        'PROCESSOR_LEVEL': '6',
        'PROCESSOR_REVISION': '7a08',
        'PROGRAMDATA': 'C:\\ProgramData',
        'PROGRAMFILES': 'C:\\Program Files',
        'PROGRAMFILES(X86)': 'C:\\Program Files (x86)',
        'PROGRAMW6432': 'C:\\Program Files',
        'PROMPT': '(C:\\Users\\USER\\AppData\\Local\\anaconda3) $P$G',
        'PSMODULEPATH': 'C:\\Program Files\\WindowsPowerShell\\Modules;C:\\Windows\\system32\\WindowsPowerShell\\v1.0\\Modules',
        'PUBLIC': 'C:\\Users\\Public',
        'PYDEVD_USE_FRAME_EVAL': 'NO',
        'SESSIONNAME': 'Console',
        'SSL_CERT_FILE': 'C:\\Users\\USER\\AppData\\Local\\anaconda3\\Library\\ssl\\cacert.pem',
        'SYSTEMDRIVE': 'C:',
        'SYSTEMROOT': 'C:\\Windows',
        'TEMP': 'C:\\Users\\USER\\AppData\\Local\\Temp',
        'TMP': 'C:\\Users\\USER\\AppData\\Local\\Temp',
        'USERDOMAIN': 'DESKTOP-O6J6LKQ',
        'USERDOMAIN_ROAMINGPROFILE': 'DESKTOP-O6J6LKQ',
        'USERNAME': 'USER',
        'USERPROFILE': 'C:\\Users\\USER',
        'WINDIR': 'C:\\Windows',
        '__CONDA_OPENSLL_CERT_FILE_SET': '"1"',
        'TERM': 'xterm-color',
        'CLICOLOR': '1',
        'FORCE_COLOR': '1',
        'CLICOLOR_FORCE': '1',
        'PAGER': 'cat',
        'GIT_PAGER': 'cat',
        'MPLBACKEND': 'module://matplotlib_inline.backend_inline'}

In [20]:
import platform

print(platform.version())
print(platform.system())
print(platform.release())
print(platform.platform())
print(platform.win32_ver())

10.0.19045
Windows
10
Windows-10-10.0.19045-SP0
('10', '10.0.19045', 'SP0', 'Multiprocessor Free')

In [22]:
import os
import os.path
print(os.path.isdir(os.getcwd()))  #retrieves the current directory and checks if the dir exists
#print(os.path.isfile('RAG app.ipynb')) #checks if the file exists
print(os.path.exists(os.getcwd())) #retrives the current directory and checks if it exists
#print(os.path.getsize('RAG app.ipynb')) #retrieves the size of the file without opening it

True
True

In [23]:
from datetime import date, time, datetime

today = date.today()

t_now = datetime.time(datetime.now())

print(t_now)

15:21:13.186224

In [24]:
from datetime import date
from datetime import time
from datetime import datetime

def main():
    today = datetime.now()

    wd = datetime.weekday(today)

    days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    print('Today is day number %d' % wd)

    print('And today is: ', days[wd])

if __name__ == "__main__":
    main()

Today is day number 0
And today is:  Monday

In [33]:
from datetime import date as dt

datetime.now()

datetime.datetime(2025, 5, 12, 15, 27, 44, 745954)

In [31]:
datetime.time

In [34]:
# %c = local date and time
from datetime import datetime
now = datetime.now()
print(now)
print(now.strftime('%c'))

2025-05-12 15:28:12.711351
Mon May 12 15:28:12 2025

In [35]:
print(now.strftime('%x'))

05/12/25

In [36]:
# %X = local time
print(now.strftime("%X"))

15:28:12

In [37]:
# %X = local time
print(now.strftime("%B"))

May

In [38]:
print(now.strftime('%I:%M:%S:%p'))
print(now.strftime('%H:%M'))
print(now.strftime('%I:%M'))

03:28:12:PM
15:28
03:28

In [ ]:
import random
my_list = ['NASA', 'Hannah', 7786, {'food': 'rice and beans'}]

print(random.choice(my_list))
print(choice(my_list))

In [42]:
import calendar

year = 2029
month = 5

#displaying the calendar
print(calendar.month(year, month))

      May 2029
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [43]:
#to display the calendar for the entire year
from calendar import *
year = 2030

print(calendar(year))

                                  2030

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [44]:
#attempt for the prime number
user_input = int(input())

def is_prime(num):
    if num<=1:
        return False

    #moving on
    for i in range(2, int(num**0.5)+1):  #range starts from 2 (inclusive) to the last number(exclusive)
        if num%i==0:  #this means it has a divisor
            return 'Not prime'
        return 'Prime'
print(is_prime(user_input))

 5

Prime

In [46]:
print('Enter "prime" or "armstrong" according to your need.')

user_input = str(input())

if user_input == 'prime':
    number = int(input('Enter a number '))

    def is_prime(num):
        if num<1:
            return('\nEnter a positive number!')
        elif num == 1:
            return('\n1 is not a prime number!')

        #moving on
        for i in range(2, int(num**0.5)+1):
            if num%i==0:
                return ('\n\nNot prime')
            else:
                return ('\n\nPrime number')
    print(is_prime(number))


elif user_input == 'armstrong':
    number = int(input('\nEnter a number '))

    def is_armstrong(num):
        count_digits = int(len(str(num)))

        temp = num
        sum = 0

Enter "prime" or "armstrong" according to your need.

 53

EXCEPTION HANDLING IN PYTHON: STATISTICAL ERROR, LOGICAL ERROR IS LIKE 2+3 = 5, RUN TIME ERROR

In [ ]:
 a= 2
b=0

try:
    print("resource open")
    print(a/b)
    

except exception as e:
    print("Hay, you cannot divide a number by zero", e)

finally:
    print("resource closed")

import re

In [ ]:
help(re)

In [ ]:
#asking for input 
mobile_num = input('Enter your Nigerian mobile number: ')

#defining the expression/pattern fpr Nigerian phone numbers
regex = r'^(0)[7-9]\d{9}$'

#match the regex with the user entered mobile number
match = re.fullmatch(regex, mobile_num)

#Check to know if the number entered is valid or not
if match:
    print('Your number is Valid!')
else:
    print('Not valid!')

In [ ]:
#create a list of python keywords
keywords = ["True", "False", "None", "and", "or", "not", "in", "is", 
            "if", "elif", "else", "for", "while", "break", "continue", 
            "pass", "def", "class", "with", "as", "lambda", "return", 
            "yield", "import", "from", "try", "except", "raise", "finally", "assert", "async", "await"]

#asking for input 
my_identifier = input('Enter python identifier: ')

#defining the expression/pattern fpr Nigerian phone numbers
regex = r"^[a-zA-Z_][\w\_]*"

#match the regex with the user entered mobile number
match = re.fullmatch(regex, identifier)

#Check to know if the number entered is valid or not
if my_identifier in keywords:
    print('You have entered a python keyword. Please revise.')
elif match:
    print('Valid!')
else:
    print('Not valid!')

In [5]:
#compile() ->> converts the pattern into regex object

import re
pattern = re.compile('Python')

print(type(pattern))

<class 're.Pattern'>

In [6]:
matcher = pattern.finditer('Does Python use Object Oriented Programming? How many Python libraries do you know of? Python and python')

print(type(matcher))

<class 'callable_iterator'>

In [7]:
#start() -> starting index of matched string
#end() -> end+1 index
#group() -> returns matched string

for m in matcher:
    print(type(m))
    print('Match is at: {}, End: {}, Pattern found: {}'.format(m.start(), m.end(), m.group()))
print('DONE!')

<class 're.Match'>
Match is at: 5, End: 11, Pattern found: Python
<class 're.Match'>
Match is at: 54, End: 60, Pattern found: Python
<class 're.Match'>
Match is at: 87, End: 93, Pattern found: Python
DONE!

Python API

In [2]:
import lib

In [9]:
import json

In [3]:
import requests

In [4]:
#How to send a request to open Google home page in python

import requests
URL = 'https://google.com'
response = requests.get(URL)


#Alternatively, to send a request to open Google home page,
#you simply open your browser, type google.com in the url secton and hit enter

In [8]:
#make a get request to fetch search results on 'hannah igboke'

response = requests.get('https://google.com/search?q=Akerele+Ifedayo')

In [9]:
#printing response headers

print(response.headers)

{'Content-Type': 'text/html; charset=ISO-8859-1', 'Content-Security-Policy': "object-src 'none';base-uri 'self';script-src 'nonce-gVLZWWeobDwOOCPrqF9CIQ' 'strict-dynamic' 'report-sample' 'unsafe-eval' 'unsafe-inline' https: http:;report-uri https://csp.withgoogle.com/csp/gws/xsrp", 'Accept-CH': 'Sec-CH-Prefers-Color-Scheme', 'P3P': 'CP="This is not a P3P policy! See g.co/p3phelp for more info."', 'Content-Encoding': 'gzip', 'Date': 'Wed, 14 May 2025 13:35:35 GMT', 'Server': 'gws', 'X-XSS-Protection': '0', 'X-Frame-Options': 'SAMEORIGIN', 'Expires': 'Wed, 14 May 2025 13:35:35 GMT', 'Cache-Control': 'private', 'Set-Cookie': 'AEC=AVcja2dY8wrCjY9niXiFx94vR83luD85B7KMt1dcxB60aQG8NcZ7EXDFLA; expires=Mon, 10-Nov-2025 13:35:35 GMT; path=/; domain=.google.com; Secure; HttpOnly; SameSite=lax, NID=524=PKdfd8H9pgTmKk8Eeaoc1x8sQj3HCnrZA6zK55nkvJhX7NoxnYgD0vZocQ1k8-ACHf_2frOBjwxPuYcndfwf6jzYVPj7owfNOuqcWHCu38IhSdq9upvQz7YMwPMPxQhFBfqlp92d1SEDVC9pTf1IMZ9e-K52mTJ6pLStR6RmH_UfcUh9pE9lCTWYR855R3BuXCq3nnuy7OOYwyU; expires=Thu, 13-Nov-2025 13:35:35 GMT; path=/; domain=.google.com; HttpOnly', 'Alt-Svc': 'h3=":443"; ma=2592000,h3-29=":443"; ma=2592000', 'Transfer-Encoding': 'chunked'}

In [10]:
#checking the response url

print(response.url)

https://www.google.com/search?q=Akerele+Ifedayo

In [11]:
#check the status code of the response

print(response.status_code)

#200 means it was successful

200

In [12]:
#checking response encoding

print(response.encoding)

ISO-8859-1

In [13]:
#retrieving header properties the response content type

print(response.headers['Content-Type'])
print(response.headers['Cache-Control'])

text/html; charset=ISO-8859-1
private

In [14]:
#text response content
#this is useful if the response body contains text data

print(response.text[0:100])

#you can also try
#print(response.text)

<!DOCTYPE html><html lang="en-NG"><head><title>Google Search</title><style>body{background-color:#ff

In [15]:
#for cases where the response body contains non-text data
# binary response content

print(response.content[0:100])

b'<!DOCTYPE html><html lang="en-NG"><head><title>Google Search</title><style>body{background-color:#ff'

In [18]:
#trying an endpoint that does not exist

response = requests.get('https://google.com/abcd')
print(response.status_code)

#an ednpoint that exists
response = requests.get('https://google.com/search')
print(response.status_code)

404
200

In [19]:
#request without query parameter

import requests
response = requests.get('https://google.com/search')
print(response.status_code)

200

In [28]:
#request with query parameter

import requests

parameters = {'q': 'AKERELE Ifedayo'}
response = requests.get('https://google.com/search', params = parameters)
print(response.status_code)

200

Request and Response from ISS API
Using OpenNotify API. It has several API endpoints. Like I mentioned earlier, you can find the other API endpoints in the documentation: http://open-notify.org/Open-Notify-API/.

Endpoints:

/iss-now.json
This api returns the current location of the ISS. It returns the current latitude and longitude of the space station with a unix timestamp for the time the location was valid. This API takes no inputs. Remember that this data is not static and changes rapidly.

In [29]:
#making a request to get the latest position of ISS from the opennotify api

import requests
response = requests.get('http://api.open-notify.org/iss-now.json')
print(response.headers)
print(response.url)
print(response.status_code)
print(response.encoding)

{'Server': 'nginx/1.10.3', 'Date': 'Wed, 14 May 2025 13:59:25 GMT', 'Content-Type': 'application/json', 'Content-Length': '115', 'Connection': 'keep-alive', 'access-control-allow-origin': '*'}
http://api.open-notify.org/iss-now.json
200
utf-8

In [30]:
#printing text content

print(response.text)

{"message": "success", "iss_position": {"longitude": "-108.1685", "latitude": "-39.4675"}, "timestamp": 1747231165}

In [31]:
#printing binary content

print(response.content)

b'{"message": "success", "iss_position": {"longitude": "-108.1685", "latitude": "-39.4675"}, "timestamp": 1747231165}'

In [32]:
#printing json content

print(response.json())

{'message': 'success', 'iss_position': {'longitude': '-108.1685', 'latitude': '-39.4675'}, 'timestamp': 1747231165}

This API returns the current number of people in space.

In [33]:
import requests

response = requests.get('http://api.open-notify.org/astros.json')
print(response.headers)

{'Server': 'nginx/1.10.3', 'Date': 'Wed, 14 May 2025 13:59:44 GMT', 'Content-Type': 'application/json', 'Content-Length': '587', 'Connection': 'keep-alive', 'access-control-allow-origin': '*'}

In [34]:
data = response.json()

print(type(data))

#to verify that the response data is a dictionary

<class 'dict'>

In [35]:
data

{'people': [{'craft': 'ISS', 'name': 'Oleg Kononenko'},
  {'craft': 'ISS', 'name': 'Nikolai Chub'},
  {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'},
  {'craft': 'ISS', 'name': 'Matthew Dominick'},
  {'craft': 'ISS', 'name': 'Michael Barratt'},
  {'craft': 'ISS', 'name': 'Jeanette Epps'},
  {'craft': 'ISS', 'name': 'Alexander Grebenkin'},
  {'craft': 'ISS', 'name': 'Butch Wilmore'},
  {'craft': 'ISS', 'name': 'Sunita Williams'},
  {'craft': 'Tiangong', 'name': 'Li Guangsu'},
  {'craft': 'Tiangong', 'name': 'Li Cong'},
  {'craft': 'Tiangong', 'name': 'Ye Guangfu'}],
 'number': 12,
 'message': 'success'}

Finding the number and names of astronaunts

In [36]:
data.values()

dict_values([[{'craft': 'ISS', 'name': 'Oleg Kononenko'}, {'craft': 'ISS', 'name': 'Nikolai Chub'}, {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'}, {'craft': 'ISS', 'name': 'Matthew Dominick'}, {'craft': 'ISS', 'name': 'Michael Barratt'}, {'craft': 'ISS', 'name': 'Jeanette Epps'}, {'craft': 'ISS', 'name': 'Alexander Grebenkin'}, {'craft': 'ISS', 'name': 'Butch Wilmore'}, {'craft': 'ISS', 'name': 'Sunita Williams'}, {'craft': 'Tiangong', 'name': 'Li Guangsu'}, {'craft': 'Tiangong', 'name': 'Li Cong'}, {'craft': 'Tiangong', 'name': 'Ye Guangfu'}], 12, 'success'])

In [37]:
#how many people are in space?

print(data['number'])

12

In [39]:
#who are these people

print(data['people'])

[{'craft': 'ISS', 'name': 'Oleg Kononenko'}, {'craft': 'ISS', 'name': 'Nikolai Chub'}, {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'}, {'craft': 'ISS', 'name': 'Matthew Dominick'}, {'craft': 'ISS', 'name': 'Michael Barratt'}, {'craft': 'ISS', 'name': 'Jeanette Epps'}, {'craft': 'ISS', 'name': 'Alexander Grebenkin'}, {'craft': 'ISS', 'name': 'Butch Wilmore'}, {'craft': 'ISS', 'name': 'Sunita Williams'}, {'craft': 'Tiangong', 'name': 'Li Guangsu'}, {'craft': 'Tiangong', 'name': 'Li Cong'}, {'craft': 'Tiangong', 'name': 'Ye Guangfu'}]

In [40]:
#returning the names of these astronaunts

people_in_space = data['people']
for ast in people_in_space:
    print(ast['name'])

Oleg Kononenko
Nikolai Chub
Tracy Caldwell Dyson
Matthew Dominick
Michael Barratt
Jeanette Epps
Alexander Grebenkin
Butch Wilmore
Sunita Williams
Li Guangsu
Li Cong
Ye Guangfu

Converting the JSON data from API to dataframe
Many APIs return data in JSON format. We need to convert this JSON file into a dataframe that can be easily analyzed.

Steps:

Use the request library to make the https requests to the API endpoint and retrieve the data. The API key, if required, needs to be included in the request headers

Once you have obtained the data, you can push it in a pandas df to analyze and process it.

Way 1

In [41]:
import requests
import pandas as pd

response = requests.get('http://api.open-notify.org/astros.json')

data = response.json()

df = pd.DataFrame(data)

df

                                              people  number  message
0         {'craft': 'ISS', 'name': 'Oleg Kononenko'}      12  success
1           {'craft': 'ISS', 'name': 'Nikolai Chub'}      12  success
2   {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'}      12  success
3       {'craft': 'ISS', 'name': 'Matthew Dominick'}      12  success
4        {'craft': 'ISS', 'name': 'Michael Barratt'}      12  success
5          {'craft': 'ISS', 'name': 'Jeanette Epps'}      12  success
6    {'craft': 'ISS', 'name': 'Alexander Grebenkin'}      12  success
7          {'craft': 'ISS', 'name': 'Butch Wilmore'}      12  success
8        {'craft': 'ISS', 'name': 'Sunita Williams'}      12  success
9        {'craft': 'Tiangong', 'name': 'Li Guangsu'}      12  success
10          {'craft': 'Tiangong', 'name': 'Li Cong'}      12  success
11       {'craft': 'Tiangong', 'name': 'Ye Guangfu'}      12  success

In [42]:
#To remove the message and number columns

astronauts = pd.DataFrame(data['people'])
astronauts

       craft                  name
0        ISS        Oleg Kononenko
1        ISS          Nikolai Chub
2        ISS  Tracy Caldwell Dyson
3        ISS      Matthew Dominick
4        ISS       Michael Barratt
5        ISS         Jeanette Epps
6        ISS   Alexander Grebenkin
7        ISS         Butch Wilmore
8        ISS       Sunita Williams
9   Tiangong            Li Guangsu
10  Tiangong               Li Cong
11  Tiangong            Ye Guangfu

Using pd.json_normalize(). The json_normalize function in pandas is used to normalize semi-structures JSON data into a flat table.

In [44]:
#It didn't come out as expected. We want the results to be like that of way 1

response = requests.get('http://api.open-notify.org/astros.json')

data = response.json()

df = pd.json_normalize(data, record_path=['people'])
df

       craft                  name
0        ISS        Oleg Kononenko
1        ISS          Nikolai Chub
2        ISS  Tracy Caldwell Dyson
3        ISS      Matthew Dominick
4        ISS       Michael Barratt
5        ISS         Jeanette Epps
6        ISS   Alexander Grebenkin
7        ISS         Butch Wilmore
8        ISS       Sunita Williams
9   Tiangong            Li Guangsu
10  Tiangong               Li Cong
11  Tiangong            Ye Guangfu

In [45]:
df = pd.read_json('http://api.open-notify.org/astros.json')
df

                                              people  number  message
0         {'craft': 'ISS', 'name': 'Oleg Kononenko'}      12  success
1           {'craft': 'ISS', 'name': 'Nikolai Chub'}      12  success
2   {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'}      12  success
3       {'craft': 'ISS', 'name': 'Matthew Dominick'}      12  success
4        {'craft': 'ISS', 'name': 'Michael Barratt'}      12  success
5          {'craft': 'ISS', 'name': 'Jeanette Epps'}      12  success
6    {'craft': 'ISS', 'name': 'Alexander Grebenkin'}      12  success
7          {'craft': 'ISS', 'name': 'Butch Wilmore'}      12  success
8        {'craft': 'ISS', 'name': 'Sunita Williams'}      12  success
9        {'craft': 'Tiangong', 'name': 'Li Guangsu'}      12  success
10          {'craft': 'Tiangong', 'name': 'Li Cong'}      12  success
11       {'craft': 'Tiangong', 'name': 'Ye Guangfu'}      12  success

Way 3

In [46]:
#Again we are only intrested in the people column


astronauts = pd.json_normalize(df['people'])
astronauts

       craft                  name
0        ISS        Oleg Kononenko
1        ISS          Nikolai Chub
2        ISS  Tracy Caldwell Dyson
3        ISS      Matthew Dominick
4        ISS       Michael Barratt
5        ISS         Jeanette Epps
6        ISS   Alexander Grebenkin
7        ISS         Butch Wilmore
8        ISS       Sunita Williams
9   Tiangong            Li Guangsu
10  Tiangong               Li Cong
11  Tiangong            Ye Guangfu

WORKING WITH JSON
Convertng python objects to json and vice versa using dumps() and loads()
Saving the data to json files and vice versa using dump() and load()
Python objects and json
dumps() and loads()
We can convert lists, tuples, and dictionaries (python objects) to JSON strings and convert JSON strings to lists and dictionaries.

json.dumps(python_object): converts python objects to json strings

json.loads(json_string): converts json string to python object

In [47]:
#first import the json file

import json

char = ['Black widow', 'Hawkeye', 'Katiness', 'Iron man']

print(type(char))

<class 'list'>

In [48]:
#converting python object to json string

char_string = json.dumps(char)
print(type(char_string))

<class 'str'>

In [49]:
#converting json string to python objects
char_object = json.loads(char_string)

print(type(char_object))

<class 'list'>

This same concept applies also to dictionaries and tuples.

Creating, and reading JSON files
dump() and load()
The json module has two main methods for doing this

json.dump(data, file_object): writes data into a json file format
json.load(file_object): for reading a json file

In [50]:
#making a dictionary

fast_food_franchise = {
    'Subway': 24722,
    'McDonalds': 14098,
    'Starbucks': 10821,
    'Pizza Hut': 34599
}

print(type(fast_food_franchise))

<class 'dict'>

In [51]:
#writing the data in  the dictionary to a file

import json

file_name = 'my_fast_food.json'

with open(file_name, 'w') as f:
    json.dump(fast_food_franchise, f)

f = open('my_fast_food.json', 'r')
data = f.read()

print(data)
print(type(data))
f.close()

{"Subway": 24722, "McDonalds": 14098, "Starbucks": 10821, "Pizza Hut": 34599}
<class 'str'>

In [52]:
#reading the data from the json file

file = 'my_fast_food.json'

with open(file, 'r') as f:
    data = json.load(f)

print(data)
print(type(data))

{'Subway': 24722, 'McDonalds': 14098, 'Starbucks': 10821, 'Pizza Hut': 34599}
<class 'dict'>

Extracting crypto data using Coingecko API
Root_url = "https://api.coingecko.com/api/v3"

This is the link to the public API documentation.

Coingecko was founded in 2014 in order to democratize the access of crypto data and empower users with actionable insights.

API End points:

Ping: /ping
Coin list: /coin/list
Coin market: /coins/markets
Coin history: /coins/{id}/history
Coin market chart: coins/{id}/market_chart

Endpoint Ping

In [53]:
import requests

root_url = "https://api.coingecko.com/api/v3"
endpoint = "/ping"

response =requests.get(root_url+endpoint)

response.status_code

200

In [54]:
response.headers

{'Date': 'Wed, 14 May 2025 14:25:31 GMT', 'Content-Type': 'application/json; charset=utf-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'x-frame-options': 'SAMEORIGIN', 'x-xss-protection': '0', 'x-content-type-options': 'nosniff', 'x-download-options': 'noopen', 'x-permitted-cross-domain-policies': 'none', 'referrer-policy': 'strict-origin-when-cross-origin', 'access-control-allow-origin': '*', 'access-control-allow-methods': 'POST, PUT, DELETE, GET, OPTIONS', 'access-control-request-method': '*', 'access-control-allow-headers': 'Origin, X-Requested-With, Content-Type, Accept, Authorization', 'access-control-expose-headers': 'link, per-page, total', 'vary': 'Accept-Encoding, Origin', 'Content-Encoding': 'gzip', 'etag': 'W/"bbfd3bcdacef06cd8cfc3c78bb4aac73"', 'Cache-Control': 'max-age=0, private, must-revalidate', 'x-request-id': '91c41ccb-062d-4dd1-b5fe-2afb5dcb4a8d', 'x-runtime': '0.002668', 'alternate-protocol': '443:npn-spdy/2', 'strict-transport-security': 'max-age=15724800; includeSubdomains', 'CF-Cache-Status': 'BYPASS', 'Server': 'cloudflare', 'CF-RAY': '93fb10bcec01beb6-LHR', 'alt-svc': 'h3=":443"; ma=86400'}

In [55]:
#retrieving header properties the response content type

print(response.headers['Content-Type'])
print(response.headers['Cache-Control'])

application/json; charset=utf-8
max-age=0, private, must-revalidate

In [56]:
print(response.text)

{"gecko_says":"(V3) To the Moon!"}

Endpoint coin list
Use this to obtain all the coins id in order to make API calls

In [57]:
import requests

endpoint = '/coins/list'

response = requests.get(root_url+endpoint)

response

In [58]:
#to retrieve the coins list

response.json()[:10]

[{'id': '_', 'symbol': 'gib', 'name': '༼ つ ◕_◕ ༽つ'},
 {'id': '000-capital', 'symbol': '000', 'name': '000 Capital'},
 {'id': '01coin', 'symbol': 'zoc', 'name': '01coin'},
 {'id': '0chain', 'symbol': 'zcn', 'name': 'Zus'},
 {'id': '0dog', 'symbol': '0dog', 'name': 'Bitcoin Dogs'},
 {'id': '0-knowledge-network', 'symbol': '0kn', 'name': '0 Knowledge Network'},
 {'id': '0-mee', 'symbol': 'ome', 'name': 'O-MEE'},
 {'id': '0vix-protocol', 'symbol': 'vix', 'name': '0VIX Protocol'},
 {'id': '0x', 'symbol': 'zrx', 'name': '0x Protocol'},
 {'id': '0x0-ai-ai-smart-contract',
  'symbol': '0x0',
  'name': '0x0.ai: AI Smart Contract'}]

In [63]:
#converting to dataframe

import pandas as pd

coin = response.json()

df = pd.DataFrame(coin)
df.head()

            id symbol          name
0            _    gib    ༼ つ ◕_◕ ༽つ
1  000-capital    000   000 Capital
2       01coin    zoc        01coin
3       0chain    zcn           Zus
4         0dog   0dog  Bitcoin Dogs

In [64]:
df.head(20)

                          id  symbol                       name
0                          _     gib                 ༼ つ ◕_◕ ༽つ
1                000-capital     000                000 Capital
2                     01coin     zoc                     01coin
3                     0chain     zcn                        Zus
4                       0dog    0dog               Bitcoin Dogs
5        0-knowledge-network     0kn        0 Knowledge Network
6                      0-mee     ome                      O-MEE
7              0vix-protocol     vix              0VIX Protocol
8                         0x     zrx                0x Protocol
9   0x0-ai-ai-smart-contract     0x0  0x0.ai: AI Smart Contract
10       0x678-landwolf-1933    wolf                   Landwolf
11                    0xcoco    coco                     0xCoco
12               0xgasless-2   0xgas                  0xGasless
13                     0xgen     xgn                      0xGen
14               0x-leverage     oxl                0x Leverage
15                      0xlp  openli              OpenLiquidity
16                     0xlsd   0xlsd                      0xLSD
17                    0xmonk    monk         0xMonk by Virtuals
18                  0xnumber     oxn                   0xNumber
19                 0xprivacy     0xp                  0xPrivacy

In [68]:
df.count()

id        16933
symbol    16933
name      16933
dtype: int64

In [69]:
df.tail()

                             id symbol                      name
16928                 zyncoin-2    zyn                   ZynCoin
16929                  zynecoin    zyn                  Zynecoin
16930                    zyro-2   zyro                      ZYRO
16931                       zzz    zzz               GoSleep ZZZ
16932  z-z-z-z-z-fehu-z-z-z-z-z      ᚠ  Z•Z•Z•Z•Z•FEHU•Z•Z•Z•Z•Z

In [70]:
df.shape

(16933, 3)

In [71]:
df.size

50799

In [73]:
df.loc[(df.symbol=="btc") | (df.symbol=="doge") | (df.symbol=="eth") | (df.symbol=="0 chains")]

,id,symbol,name
1633,batcat,btc,batcat
1832,bifrost-bridged-eth-bifrost,eth,Bifrost Bridged ETH (Bifrost)
1887,binance-peg-dogecoin,doge,Binance-Peg Dogecoin
1972,bitcoin,btc,Bitcoin
2101,blackrocktradingcurrency,btc,BlackrockTradingCurrency
2495,bridged-binance-peg-ethereum-opbnb,eth,Bridged Binance-Peg Ethereum (opBNB)
2562,bridged-wrapped-ether-eclipse,eth,Bridged Wrapped Ether (Eclipse)
2571,bridged-wrapped-ether-starkgate,eth,Bridged Ether (StarkGate)
4222,department-of-gov-efficiency,doge,Department of Gov Efficiency
4223,department-of-government-efficiency,doge,Department Of Government Efficiency
4224,department-of-government-efficiency-2,doge,Department Of Government Efficiency
4226,department-of-government-efficiency-4,doge,Department Of Government Efficiency
4546,dogecoin,doge,Dogecoin
4578,doge-on-pulsechain,doge,Doge on Pulsechain
5263,ethereum,eth,Ethereum
5278,ethereum-wormhole,eth,Ethereum (Wormhole)
7254,immutable-zkevm-bridged-eth,eth,Immutable zkEVM Bridged ETH
8185,laika-bridged-eth-laika,eth,Laika Bridged ETH (Laika)
10415,nova-eth,eth,Nova Merged ETH (zkLink)
10845,osmosis-allbtc,btc,Osmosis allBTC
10846,osmosis-alleth,eth,Osmosis allETH
14570,the-infinite-garden,eth,The Infinite Garden
14643,the-ticker-is-eth,eth,The Ticker Is ETH

In [75]:
#Endpoint coin markets
#Use this to obtain all the coins market data (price, market cap, volume)

import requests

endpoint = '/coins/markets'

parameters = {'vs_currency': 'usd', 'ids':'bitcoin, dogecoin, ethereum'}

response = requests.get(root_url+endpoint, params=parameters)
response

In [76]:
response.json()

[{'id': 'bitcoin',
  'symbol': 'btc',
  'name': 'Bitcoin',
  'image': 'https://coin-images.coingecko.com/coins/images/1/large/bitcoin.png?1696501400',
  'current_price': 103322,
  'market_cap': 2051659285538,
  'market_cap_rank': 1,
  'fully_diluted_valuation': 2051659285538,
  'total_volume': 31492263227,
  'high_24h': 104836,
  'low_24h': 103122,
  'price_change_24h': 199.67,
  'price_change_percentage_24h': 0.19363,
  'market_cap_change_24h': 3623787500,
  'market_cap_change_percentage_24h': 0.17694,
  'circulating_supply': 19864562.0,
  'total_supply': 19864562.0,
  'max_supply': 21000000.0,
  'ath': 108786,
  'ath_change_percentage': -5.10031,
  'ath_date': '2025-01-20T09:11:54.494Z',
  'atl': 67.81,
  'atl_change_percentage': 152146.94101,
  'atl_date': '2013-07-06T00:00:00.000Z',
  'roi': None,
  'last_updated': '2025-05-14T14:56:28.526Z'},
 {'id': 'ethereum',
  'symbol': 'eth',
  'name': 'Ethereum',
  'image': 'https://coin-images.coingecko.com/coins/images/279/large/ethereum.png?1696501628',
  'current_price': 2579.45,
  'market_cap': 311240511797,
  'market_cap_rank': 2,
  'fully_diluted_valuation': 311240511797,
  'total_volume': 37594747937,
  'high_24h': 2708.81,
  'low_24h': 2542.1,
  'price_change_24h': 37.35,
  'price_change_percentage_24h': 1.46941,
  'market_cap_change_24h': 4153125978,
  'market_cap_change_percentage_24h': 1.35242,
  'circulating_supply': 120728560.3911534,
  'total_supply': 120728560.3911534,
  'max_supply': None,
  'ath': 4878.26,
  'ath_change_percentage': -47.21001,
  'ath_date': '2021-11-10T14:24:19.604Z',
  'atl': 0.432979,
  'atl_change_percentage': 594671.07129,
  'atl_date': '2015-10-20T00:00:00.000Z',
  'roi': {'times': 32.34944395807134,
   'currency': 'btc',
   'percentage': 3234.9443958071342},
  'last_updated': '2025-05-14T14:56:34.122Z'},
 {'id': 'dogecoin',
  'symbol': 'doge',
  'name': 'Dogecoin',
  'image': 'https://coin-images.coingecko.com/coins/images/5/large/dogecoin.png?1696501409',
  'current_price': 0.232309,
  'market_cap': 34654512531,
  'market_cap_rank': 8,
  'fully_diluted_valuation': 34669747630,
  'total_volume': 2989009803,
  'high_24h': 0.245545,
  'low_24h': 0.225813,
  'price_change_24h': 0.00649612,
  'price_change_percentage_24h': 2.87676,
  'market_cap_change_24h': 965077017,
  'market_cap_change_percentage_24h': 2.86463,
  'circulating_supply': 149194276383.7052,
  'total_supply': 149259866383.7052,
  'max_supply': None,
  'ath': 0.731578,
  'ath_change_percentage': -68.30407,
  'ath_date': '2021-05-08T05:08:23.458Z',
  'atl': 8.69e-05,
  'atl_change_percentage': 266724.48922,
  'atl_date': '2015-05-06T00:00:00.000Z',
  'roi': None,
  'last_updated': '2025-05-14T14:56:33.171Z'}]

In [77]:
#converting to a dataframe

df = pd.json_normalize(response.json())
df.head()

,id,symbol,name,image,current_price,market_cap,market_cap_rank,fully_diluted_valuation,total_volume,high_24h,...,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,roi,last_updated,roi.times,roi.currency,roi.percentage
0,bitcoin,btc,Bitcoin,https://coin-images.coingecko.com/coins/images...,103322.000000,2051659285538,1,2051659285538,31492263227,104836.000000,...,-5.10031,2025-01-20T09:11:54.494Z,67.810000,152146.94101,2013-07-06T00:00:00.000Z,NaN,2025-05-14T14:56:28.526Z,NaN,NaN,NaN
1,ethereum,eth,Ethereum,https://coin-images.coingecko.com/coins/images...,2579.450000,311240511797,2,311240511797,37594747937,2708.810000,...,-47.21001,2021-11-10T14:24:19.604Z,0.432979,594671.07129,2015-10-20T00:00:00.000Z,NaN,2025-05-14T14:56:34.122Z,32.349444,btc,3234.944396
2,dogecoin,doge,Dogecoin,https://coin-images.coingecko.com/coins/images...,0.232309,34654512531,8,34669747630,2989009803,0.245545,...,-68.30407,2021-05-08T05:08:23.458Z,0.000087,266724.48922,2015-05-06T00:00:00.000Z,NaN,2025-05-14T14:56:33.171Z,NaN,NaN,NaN

In [78]:
#Endpoint coins history
#Get historical data (name, price, market, stats) at a given date for a coin

#retrieve today's date
from datetime import date

today = date.today().strftime('%d-%m-%Y')

print('Today: ', today)

Today:  14-05-2025

In [79]:
import requests

uid = 'bitcoin'

root_url = 'https://api.coingecko.com/api/v3'
endpoint = f'/coins/{uid}/history' #don't forget the 'f' string, it is crucial for the {uid} value to be collected
parameter = {'date': today}

response = requests.get(root_url+endpoint, params = parameter)

response

In [80]:
coin = response.json()
coin

{'id': 'bitcoin',
 'symbol': 'btc',
 'name': 'Bitcoin',
 'localization': {'en': 'Bitcoin',
  'de': 'Bitcoin',
  'es': 'Bitcoin',
  'fr': 'Bitcoin',
  'it': 'Bitcoin',
  'pl': 'Bitcoin',
  'ro': 'Bitcoin',
  'hu': 'Bitcoin',
  'nl': 'Bitcoin',
  'pt': 'Bitcoin',
  'sv': 'Bitcoin',
  'vi': 'Bitcoin',
  'tr': 'Bitcoin',
  'ru': 'Биткоин',
  'ja': 'ビットコイン',
  'zh': '比特币',
  'zh-tw': '比特幣',
  'ko': '비트코인',
  'ar': 'بيتكوين',
  'th': 'บิตคอยน์',
  'id': 'Bitcoin',
  'cs': 'Bitcoin',
  'da': 'Bitcoin',
  'el': 'Bitcoin',
  'hi': 'Bitcoin',
  'no': 'Bitcoin',
  'sk': 'Bitcoin',
  'uk': 'Bitcoin',
  'he': 'Bitcoin',
  'fi': 'Bitcoin',
  'bg': 'Bitcoin',
  'hr': 'Bitcoin',
  'lt': 'Bitcoin',
  'sl': 'Bitcoin'},
 'image': {'thumb': 'https://coin-images.coingecko.com/coins/images/1/thumb/bitcoin.png?1696501400',
  'small': 'https://coin-images.coingecko.com/coins/images/1/small/bitcoin.png?1696501400'},
 'market_data': {'current_price': {'aed': 382674.84243693406,
   'ars': 117207030.76934387,
   'aud': 160902.7353314782,
   'bch': 253.5962052603704,
   'bdt': 12633997.03022469,
   'bhd': 39272.55202251186,
   'bmd': 104184.49039270742,
   'bnb': 156.4160514851795,
   'brl': 584490.3062231767,
   'btc': 1.0,
   'cad': 145144.10186814837,
   'chf': 87462.25457773556,
   'clp': 97978220.30001388,
   'cny': 750472.1396457895,
   'czk': 2319230.207918472,
   'dkk': 694722.2895452189,
   'dot': 20033.26178400685,
   'eos': 117570.24152711382,
   'eth': 38.938812685054295,
   'eur': 93135.41263308965,
   'gbp': 78307.14666896677,
   'gel': 285986.426127982,
   'hkd': 812297.29993463,
   'huf': 37657238.697969235,
   'idr': 1730484680.6976492,
   'ils': 371062.54332225333,
   'inr': 8860925.91388854,
   'jpy': 15367681.163131109,
   'krw': 147629595.41598248,
   'kwd': 32019.019432390774,
   'lkr': 31079074.982273538,
   'ltc': 1007.190909227516,
   'mmk': 218579060.84390017,
   'mxn': 2022333.7903255469,
   'myr': 452004.4115687613,
   'ngn': 166663929.28121412,
   'nok': 1079890.1626527596,
   'nzd': 175453.14125972363,
   'php': 5809900.615732489,
   'pkr': 29272855.768671647,
   'pln': 394849.321061774,
   'rub': 8318950.068475426,
   'sar': 390753.62037545576,
   'sek': 1012967.6719869656,
   'sgd': 135549.33540992244,
   'sol': 566.2407183964872,
   'thb': 3461008.770845741,
   'try': 4040993.514597395,
   'twd': 3171803.043964625,
   'uah': 4319751.933335402,
   'usd': 104184.49039270742,
   'vef': 10431.993023021789,
   'vnd': 2704316817.123507,
   'xag': 3162.1368069459886,
   'xau': 32.013810207871146,
   'xdr': 75031.37792203926,
   'xlm': 331057.5980830115,
   'xrp': 40258.60982417389,
   'yfi': 16.43459675079066,
   'zar': 1906968.9497153263,
   'bits': 999390.1795961806,
   'link': 5980.130344371688,
   'sats': 99939017.95961806},
  'market_cap': {'aed': 7600848320715.157,
   'ars': 2327963190053953.5,
   'aud': 3195892824227.624,
   'bch': 5036332333.530975,
   'bdt': 250941751225596.75,
   'bhd': 780047910099.2959,
   'bmd': 2069356072124.024,
   'bnb': 3106262077.3343143,
   'brl': 11609391759958.393,
   'btc': 19864318.0,
   'cad': 2882892371538.504,
   'chf': 1736671904476.8633,
   'clp': 1946084530907598.2,
   'cny': 14906192594331.002,
   'czk': 46062003745015.914,
   'dkk': 13795693351786.363,
   'dot': 397905819849.1015,
   'eos': 2335931624225.752,
   'eth': 773514181.0659335,
   'eur': 1849331787755.4395,
   'gbp': 1555133504337.639,
   'gel': 5680382417980.452,
   'hkd': 16134266440825.512,
   'huf': 747803203783459.2,
   'idr': 34371612974458080,
   'ils': 7370199962272.282,
   'inr': 175999429237788.7,
   'jpy': 305172078668274.4,
   'krw': 2932280981053399,
   'kwd': 635975201645.877,
   'lkr': 617305630503591.6,
   'ltc': 19993747866.8757,
   'mmk': 4341509039316205,
   'mxn': 40168684587213.89,
   'myr': 8977901318910.09,
   'ngn': 3310348908576803,
   'nok': 21450485646589.65,
   'nzd': 3483616092495.7495,
   'php': 115398684317456.7,
   'pkr': 581429746452468.1,
   'pln': 7841164710726.99,
   'rub': 165234477540825.9,
   'sar': 7761312398615.868,
   'sek': 20117809989361.387,
   'sgd': 2692337786993.033,
   'sol': 11246753155.611979,
   'thb': 68868170080287.6,
   'try': 80263369001288.64,
   'twd': 62999683195351.05,
   'uah': 85800725804988.19,
   'usd': 2069356072124.024,
   'vef': 207204623501.7786,
   'vnd': 53714275564123350,
   'xag': 62807688338.97939,
   'xau': 635871733.8422709,
   'xdr': 1490304717310.1372,
   'xlm': 6576356984697.345,
   'xrp': 799321911146.0918,
   'yfi': 326359005.34334683,
   'zar': 37877017592261.586,
   'bits': 19849169231300.97,
   'link': 118721172311.78073,
   'sats': 1984916923130096.5},
  'total_volume': {'aed': 124374734715.77971,
   'ars': 38093942277284.15,
   'aud': 52295664105.99356,
   'bch': 82422352.49469014,
   'bdt': 4106227676289.1924,
   'bhd': 12764134711.093668,
   'bmd': 33861432519.50822,
   'bnb': 50837428.41539172,
   'brl': 189967614065.0216,
   'btc': 324815.9394886671,
   'cad': 47173885407.39028,
   'chf': 28426469431.532043,
   'clp': 31844306984321.133,
   'cny': 243914056867.77365,
   'czk': 753782610891.7013,
   'dkk': 225794567296.55713,
   'dot': 6511093344.96753,
   'eos': 38211990909.26601,
   'eth': 12655664.707431627,
   'eur': 30270326016.516827,
   'gbp': 25450929910.31278,
   'gel': 92949632266.05011,
   'hkd': 264008108153.5002,
   'huf': 12239135040502.668,
   'idr': 562431989834715.06,
   'ils': 120600573308.58786,
   'inr': 2879926213225.5015,
   'jpy': 4994713673073.8,
   'krw': 47981705954675.4,
   'kwd': 10406634056.220463,
   'lkr': 10101138819359.766,
   'ltc': 327351286.9191603,
   'mmk': 71041285425928.25,
   'mxn': 657287077135.0734,
   'myr': 146907824985.88647,
   'ngn': 54168133601457.33,
   'nok': 350979572231.09595,
   'nzd': 57024751771.66805,
   'php': 1888299850612.3667,
   'pkr': 9514092035464.371,
   'pln': 128331612412.84686,
   'rub': 2703776400067.283,
   'sar': 127000451777.63994,
   'sek': 329228816497.92,
   'sgd': 44055450640.93871,
   'sol': 184036239.97687286,
   'thb': 1124876788298.0635,
   'try': 1313380030852.3464,
   'twd': 1030880837767.1606,
   'uah': 1403980458514.4905,
   'usd': 33861432519.50822,
   'vef': 3390545238.1783566,
   'vnd': 878941203908875.1,
   'xag': 1027739174.0580004,
   'xau': 10404940.98459449,
   'xdr': 24386258749.0344,
   'xlm': 107598400446.20537,
   'xrp': 13084617439.237343,
   'yfi': 5341476.324974953,
   'zar': 619791872707.599,
   'bits': 324815939488.6671,
   'link': 1943626919.424654,
   'sats': 32481593948866.71}},
 'community_data': {'facebook_likes': None,
  'twitter_followers': None,
  'reddit_average_posts_48h': 0.0,
  'reddit_average_comments_48h': 0.0,
  'reddit_subscribers': None,
  'reddit_accounts_active_48h': 0.0},
 'developer_data': {'forks': None,
  'stars': None,
  'subscribers': None,
  'total_issues': None,
  'closed_issues': None,
  'pull_requests_merged': None,
  'pull_request_contributors': None,
  'code_additions_deletions_4_weeks': {'additions': None, 'deletions': None},
  'commit_count_4_weeks': None},
 'public_interest_stats': {'alexa_rank': None, 'bing_matches': None}}

In [82]:
#The output is not as expected wheen we compare this dataframe with the dictioanry form output in the code block above. Let's fix this.

#saving the data in a json file
file_name = f'bitcoin_history_{today}.json'

with open(file_name, 'w') as f:
    json.dump(coin, f)

In [83]:
coin.keys()

dict_keys(['id', 'symbol', 'name', 'localization', 'image', 'market_data', 'community_data', 'developer_data', 'public_interest_stats'])

In [84]:
market_data = coin["market_data"]

In [86]:
df = pd.DataFrame(market_data)

In [87]:
df.head()

     current_price    market_cap  total_volume
aed   3.826748e+05  7.600848e+12  1.243747e+11
ars   1.172070e+08  2.327963e+15  3.809394e+13
aud   1.609027e+05  3.195893e+12  5.229566e+10
bch   2.535962e+02  5.036332e+09  8.242235e+07
bdt   1.263400e+07  2.509418e+14  4.106228e+12

In [88]:
#to change the indexing of the data

df = df.reset_index()
df.head()

  index  current_price    market_cap  total_volume
0   aed   3.826748e+05  7.600848e+12  1.243747e+11
1   ars   1.172070e+08  2.327963e+15  3.809394e+13
2   aud   1.609027e+05  3.195893e+12  5.229566e+10
3   bch   2.535962e+02  5.036332e+09  8.242235e+07
4   bdt   1.263400e+07  2.509418e+14  4.106228e+12

In [89]:
#renaming the index column
df = df.rename(columns={'index': 'symbol'})
df.head()

  symbol  current_price    market_cap  total_volume
0    aed   3.826748e+05  7.600848e+12  1.243747e+11
1    ars   1.172070e+08  2.327963e+15  3.809394e+13
2    aud   1.609027e+05  3.195893e+12  5.229566e+10
3    bch   2.535962e+02  5.036332e+09  8.242235e+07
4    bdt   1.263400e+07  2.509418e+14  4.106228e+12

Endpoint coins/{id}/market_chart
Gets historical market data including price, market cap, and 24hour volume(granularity auto)

Data granularity is automatic (and cannot be adjusted)
1 day from current time = 5 minute interval data
1-90 days from current time = hourly data
Above 90 days from current time = dail data (00:00 UTC)

[ ]

In [90]:
import requests

uid = 'bitcoin'

root_url = 'https://api.coingecko.com/api/v3'
endpoint = f'/coins/{uid}/market_chart'
parameters = {'vs_currency': 'usd', 'days': '1'}

response = requests.get(root_url+endpoint, params =parameters)
response.status_code

200

In [91]:
response.json()

{'prices': [[1747149383569, 103489.80402012373],
  [1747149655001, 103576.04183850522],
  [1747149988534, 103599.06732275485],
  [1747150244350, 103661.3024307318],
  [1747150549269, 103614.10773058854],
  [1747150849118, 103660.82321614298],
  [1747151147164, 103634.98779228391],
  [1747151555518, 103573.22741164168],
  [1747151738642, 103587.60919578708],
  [1747152104610, 103635.82838474064],
  [1747152354703, 103602.17096565048],
  [1747152692679, 103718.51533438434],
  [1747152944496, 103919.2935672897],
  [1747153322994, 104072.25951945153],
  [1747153521547, 104098.52915205178],
  [1747153918804, 104108.35439546403],
  [1747154157985, 104147.24972711594],
  [1747154454711, 104131.18307692946],
  [1747154735223, 104085.59530339281],
  [1747155012456, 104014.6179628177],
  [1747155357742, 103940.60851820957],
  [1747155693101, 103860.8913290485],
  [1747155963184, 103882.08328357531],
  [1747156339501, 103889.29876381089],
  [1747156537828, 103904.0961768913],
  [1747156863744, 103891.34103222503],
  [1747157124326, 103911.11997573548],
  [1747157478175, 103901.07771041057],
  [1747157722486, 103888.23247637352],
  [1747158053409, 103898.01110818092],
  [1747158353709, 103993.89543710068],
  [1747158652379, 104092.30739318371],
  [1747159015167, 104134.67969743923],
  [1747159226008, 104193.24996458978],
  [1747159544996, 104234.1211307841],
  [1747159878818, 104294.7570616645],
  [1747160190450, 104366.39508388782],
  [1747160429215, 104349.7042498955],
  [1747160763649, 104359.53375533188],
  [1747161090829, 104375.53364227401],
  [1747161349790, 104343.82339431187],
  [1747161704285, 104281.13929050445],
  [1747161960965, 104260.10852428908],
  [1747162304643, 104263.93899359096],
  [1747162558073, 104300.18887060284],
  [1747162862998, 104303.9664067448],
  [1747163186548, 104294.50214659558],
  [1747163434116, 104259.8343040024],
  [1747163723540, 104282.20592724434],
  [1747164106218, 104295.188605192],
  [1747164375387, 104304.72585156253],
  [1747164738192, 104442.03360557552],
  [1747164936883, 104490.08828998933],
  [1747165261572, 104552.08793761578],
  [1747165536678, 104611.46994291304],
  [1747165895248, 104836.23655489563],
  [1747166150962, 104749.87357798622],
  [1747166453718, 104778.26218485396],
  [1747166802447, 104748.21111324744],
  [1747167078754, 104683.97137781754],
  [1747167375931, 104689.9005836081],
  [1747167623837, 104646.196812168],
  [1747167931090, 104617.0359565332],
  [1747168367352, 104603.76149916499],
  [1747168555505, 104639.04383591081],
  [1747168823135, 104597.47101982226],
  [1747169126792, 104550.69839877197],
  [1747169475393, 104598.65287053704],
  [1747169746964, 104595.44088503523],
  [1747170332992, 104577.54310751968],
  [1747170452797, 104556.01675791084],
  [1747170623002, 104517.26341638836],
  [1747170952850, 104453.51403832245],
  [1747171279259, 104463.89719888815],
  [1747171547796, 104422.59304404818],
  [1747171937260, 104480.61209099322],
  [1747172191453, 104529.25656199995],
  [1747172463110, 104501.67308602347],
  [1747172734482, 104443.00793705236],
  [1747173098124, 104416.9118797506],
  [1747173384572, 104423.80487914452],
  [1747173714873, 104382.77835628152],
  [1747173965283, 104328.02983968919],
  [1747174303052, 104274.65477224508],
  [1747174562409, 104279.43281557491],
  [1747174890613, 104261.55501766491],
  [1747175134556, 104248.39743104915],
  [1747175485057, 104212.12127318264],
  [1747175758536, 104199.1817990157],
  [1747176035005, 104258.40226392228],
  [1747176352353, 104266.68706703445],
  [1747176644872, 104237.15524141474],
  [1747176986342, 104235.96595683586],
  [1747177654651, 104150.98193005985],
  [1747177876410, 104117.6412926541],
  [1747178124901, 104121.69871904801],
  [1747178461855, 104136.00549980634],
  [1747178786132, 104123.01489228252],
  [1747179102923, 104078.38248286943],
  [1747179337105, 104080.0916742867],
  [1747179722707, 104113.12475482623],
  [1747179985082, 104132.40312082027],
  [1747180302969, 104174.53406273626],
  [1747180532511, 104184.49039270742],
  [1747181315341, 104068.676689409],
  [1747181456784, 104048.22679514563],
  [1747181757233, 104023.95842329547],
  [1747182046218, 104028.71899343342],
  [1747182362165, 104003.93555805445],
  [1747182692980, 103969.11984094635],
  [1747182998453, 103984.43877108415],
  [1747183310668, 103965.1849503086],
  [1747183565593, 103940.31805946933],
  [1747183893632, 103915.92930233045],
  [1747184127554, 103917.7359966492],
  [1747184761698, 103933.08045885488],
  [1747185046394, 103973.0145530784],
  [1747185396028, 104004.3312994662],
  [1747185624577, 103998.89968505906],
  [1747186002502, 103973.59130493048],
  [1747186264105, 103932.04816825561],
  [1747186554221, 103969.07730320166],
  [1747186888165, 103968.99796493619],
  [1747187196523, 103982.44043563565],
  [1747187435355, 103959.5902121218],
  [1747187743389, 103880.00670984211],
  [1747188077230, 103858.60396107004],
  [1747188383586, 103792.16610230919],
  [1747188644826, 103689.90010930138],
  [1747188961613, 103655.20259429429],
  [1747189286719, 103681.55648780047],
  [1747189564279, 103678.49789543274],
  [1747189855414, 103635.25895275378],
  [1747190162779, 103634.63274740521],
  [1747190538534, 103671.55689894316],
  [1747190725641, 103683.42780638153],
  [1747191062469, 103677.89104169083],
  [1747191374663, 103662.04175393449],
  [1747191775359, 103700.05269875677],
  [1747191941992, 103695.6485230419],
  [1747192300066, 103675.56259769977],
  [1747192537175, 103654.64707281718],
  [1747192865185, 103604.99198931782],
  [1747193189979, 103573.7737716779],
  [1747193494949, 103566.62848130293],
  [1747193775176, 103535.5310235818],
  [1747194103606, 103528.2245373913],
  [1747194328398, 103558.51650817398],
  [1747194635093, 103560.65001473174],
  [1747194992812, 103551.07667656832],
  [1747195317746, 103561.277143834],
  [1747195534697, 103556.45885636128],
  [1747195843576, 103532.82686054526],
  [1747196174220, 103536.33397664368],
  [1747196433098, 103538.08094371496],
  [1747196762460, 103571.46984061817],
  [1747197076822, 103592.79595761985],
  [1747197347402, 103587.89502910785],
  [1747197688026, 103641.67990736401],
  [1747197923883, 103679.05634326537],
  [1747198284766, 103690.47365959719],
  [1747198532319, 103695.45964720579],
  [1747198845440, 103700.90096775675],
  [1747199190912, 103730.19389628399],
  [1747199505970, 103715.36407114138],
  [1747199731883, 103740.24418991132],
  [1747200025336, 103763.5515806018],
  [1747200375173, 103773.80463105997],
  [1747200708410, 103759.14981698563],
  [1747201191359, 103761.17199981728],
  [1747201762801, 103805.12132035315],
  [1747202076832, 103850.52538248377],
  [1747202200566, 103873.7375912812],
  [1747202455175, 103878.53354621866],
  [1747202787408, 103893.55329074585],
  [1747203046854, 103868.75491460724],
  [1747203404396, 103862.40895137214],
  [1747203663380, 103844.82425914763],
  [1747204007361, 103780.58500920219],
  [1747204274919, 103783.21996515455],
  [1747204533101, 103751.86196422207],
  [1747204867540, 103734.195087273],
  [1747205194299, 103730.01300788288],
  [1747205440402, 103726.1282415881],
  [1747205762776, 103750.13889113342],
  [1747206062280, 103752.54320754271],
  [1747206342422, 103717.46530373387],
  [1747206639595, 103702.56094530778],
  [1747206928985, 103694.52407705384],
  [1747207274290, 103656.07788128298],
  [1747207539264, 103581.97946201955],
  [1747207871940, 103555.11698390018],
  [1747208143701, 103541.08215295507],
  [1747208435235, 103540.81027682377],
  [1747208752152, 103563.21441941736],
  [1747209084792, 103600.91808588376],
  [1747209362065, 103637.23675803398],
  [1747209635454, 103663.5497768388],
  [1747209961603, 103651.43843557718],
  [1747210258427, 103632.568645758],
  [1747210533540, 103594.41820931685],
  [1747210873182, 103597.00787041965],
  [1747211184881, 103622.2124558549],
  [1747211492309, 103619.51021808259],
  [1747211742711, 103574.2851416611],
  [1747212064444, 103599.29566821852],
  [1747212340016, 103629.31209234936],
  [1747212685074, 103608.43174990144],
  [1747213006088, 103565.7526164244],
  [1747213300835, 103468.82472880279],
  [1747213525874, 103366.18229235474],
  [1747213839746, 103206.8464606783],
  [1747214146265, 103165.94013364844],
  [1747214444432, 103176.91879494778],
  [1747214770007, 103194.80058709152],
  [1747215027612, 103219.06619537398],
  [1747215350463, 103241.38213656489],
  [1747215647464, 103218.65461728112],
  [1747215993889, 103233.67823922084],
  [1747216244848, 103274.70638241022],
  [1747216582473, 103293.13171967196],
  [1747217121339, 103404.47656291013],
  [1747217511220, 103505.70642764526],
  [1747217754940, 103525.69237614369],
  [1747218113431, 103565.12116856882],
  [1747218329468, 103624.32073475356],
  [1747218651555, 103690.42695326009],
  [1747218939391, 103725.53028147348],
  [1747219223585, 103725.00872439156],
  [1747219574615, 103773.16749329692],
  [1747219895975, 103762.1097102834],
  [1747220166620, 103741.8905595315],
  [1747220509933, 103746.51631775557],
  [1747220727148, 103800.96614298347],
  [1747221069216, 103822.61954693816],
  [1747221317508, 103845.2590923517],
  [1747221671427, 103877.35890523193],
  [1747222000748, 103916.66752292823],
  [1747222242646, 103924.41230482188],
  [1747222575836, 103930.15285685519],
  [1747222824032, 103957.21882509746],
  [1747223189705, 103999.46871230418],
  [1747223420075, 103988.87997999109],
  [1747223750524, 103975.65513221931],
  [1747224172075, 103935.5722480985],
  [1747224471820, 103975.28155532911],
  [1747224633225, 103993.91776915385],
  [1747224937286, 104018.07770346045],
  [1747225235828, 104072.06365492876],
  [1747225558780, 104105.4802029313],
  [1747225887198, 104071.59471231978],
  [1747226137136, 104073.86962031202],
  [1747226485803, 104045.0984598923],
  [1747226726591, 104088.41515984265],
  [1747227059657, 104109.65448861716],
  [1747227330186, 104129.23681507706],
  [1747227965741, 104015.87143284468],
  [1747228399727, 104014.82438871585],
  [1747228607245, 104032.4682475781],
  [1747228835674, 104018.17810922531],
  [1747229188901, 104062.46159997914],
  [1747229511097, 104068.10903798189],
  [1747229758148, 104144.50726011836],
  [1747230105538, 104156.30634687927],
  [1747230381419, 104034.69221838425],
  [1747230813908, 103934.44566527665],
  [1747231031009, 103934.07278848825],
  [1747231289497, 103949.55688600815],
  [1747231745012, 103840.17819889382],
  [1747231848052, 103834.00107422698],
  [1747232208779, 103627.87884767189],
  [1747232549804, 103517.1186734255],
  [1747232872070, 103453.18979102418],
  [1747233388028, 103259.23501606093],
  [1747234293356, 103256.86831481717],
  [1747234533857, 103330.12430858755],
  [1747234860123, 103302.66941515023],
  [1747235193067, 103248.37661562298],
  [1747235591000, 103219.17734288675]],
 'market_caps': [[1747149383569, 2052650667289.1338],
  [1747149655001, 2056256249607.4531],
  [1747149988534, 2057797676437.0977],
  [1747150244350, 2059277790041.3035],
  [1747150549269, 2059083065192.4585],
  [1747150849118, 2058596956783.574],
  [1747151147164, 2058765440495.3567],
  [1747151555518, 2057560708171.9382],
  [1747151738642, 2057560708171.9382],
  [1747152104610, 2057680477386.3855],
  [1747152354703, 2058491871546.8833],
  [1747152692679, 2058807612786.3555],
  [1747152944496, 2060470918285.922],
  [1747153322994, 2067401597060.7021],
  [1747153521547, 2067896590091.352],
  [1747153918804, 2068052420387.3564],
  [1747154157985, 2068807377532.8394],
  [1747154454711, 2068342697645.7673],
  [1747154735223, 2067582151614.1003],
  [1747155012456, 2066235246383.1597],
  [1747155357742, 2064912867089.7788],
  [1747155693101, 2063609259062.4329],
  [1747155963184, 2063509252080.531],
  [1747156339501, 2063581164649.929],
  [1747156537828, 2063581164649.929],
  [1747156863744, 2063679981504.1843],
  [1747157124326, 2063679981504.1843],
  [1747157478175, 2063955722422.9932],
  [1747157722486, 2063860911163.5857],
  [1747158053409, 2063252515847.4346],
  [1747158353709, 2064220280948.674],
  [1747158652379, 2067704384661.6877],
  [1747159015167, 2068433182620.1646],
  [1747159226008, 2069707754560.2139],
  [1747159544996, 2069707754560.2139],
  [1747159878818, 2069707754560.2139],
  [1747160190450, 2073022016950.844],
  [1747160429215, 2072918305071.2698],
  [1747160763649, 2072948431007.89],
  [1747161090829, 2073249085338.1726],
  [1747161349790, 2073132543575.983],
  [1747161704285, 2072134824316.003],
  [1747161960965, 2071359370308.0708],
  [1747162304643, 2071036063590.254],
  [1747162558073, 2071848572979.2932],
  [1747162862998, 2071883093670.2334],
  [1747163186548, 2072074310560.7031],
  [1747163434116, 2071552072360.4941],
  [1747163723540, 2071305481873.2454],
  [1747164106218, 2071270521239.9941],
  [1747164375387, 2071816026941.864],
  [1747164738192, 2073224155386.855],
  [1747164936883, 2075035330313.3665],
  [1747165261572, 2077052910853.8535],
  [1747165536678, 2077228824955.9724],
  [1747165895248, 2081243270510.604],
  [1747166150962, 2081377103077.296],
  [1747166453718, 2080432018797.7026],
  [1747166802447, 2081529886313.641],
  [1747167078754, 2080261261188.9272],
  [1747167375931, 2079716040693.0117],
  [1747167623837, 2078881129550.47],
  [1747167931090, 2078397461720.4263],
  [1747168367352, 2077638542769.0518],
  [1747168555505, 2078141662751.966],
  [1747168823135, 2077627151660.9714],
  [1747169126792, 2077342943617.9814],
  [1747169475393, 2076750394713.0657],
  [1747169746964, 2077566522503.4956],
  [1747170332992, 2077827454116.6233],
  [1747170452797, 2077827454116.6233],
  [1747170623002, 2076825165599.6445],
  [1747170952850, 2075424153907.362],
  [1747171279259, 2075193321024.643],
  [1747171547796, 2074891878158.5898],
  [1747171937260, 2074853147788.1086],
  [1747172191453, 2075868726732.5854],
  [1747172463110, 2076338242698.3918],
  [1747172734482, 2075461395165.819],
  [1747173098124, 2073921729957.8872],
  [1747173384572, 2074258858644.4048],
  [1747173714873, 2073904304240.6648],
  [1747173965283, 2073330115888.642],
  [1747174303052, 2071806799384.548],
  [1747174562409, 2071720096997.4402],
  [1747174890613, 2071409747576.112],
  [1747175134556, 2071056766720.3376],
  [1747175485057, 2070099781728.802],
  [1747175758536, 2069879909380.339],
  [1747176035005, 2070404079654.6035],
  [1747176352353, 2071250694294.29],
  [1747176644872, 2070935996824.6936],
  [1747176986342, 2070992700150.078],
  [1747177654651, 2069567976113.8613],
  [1747177876410, 2068231661932.9683],
  [1747178124901, 2068254785485.9863],
  [1747178461855, 2068424676218.8826],
  [1747178786132, 2068380996497.7559],
  [1747179102923, 2067488371071.1165],
  [1747179337105, 2067488371071.1165],
  [1747179722707, 2067877328762.6133],
  [1747179985082, 2068347263025.3127],
  [1747180302969, 2068805501138.1768],
  [1747180532511, 2069356072124.024],
  [1747181315341, 2067527214968.4673],
  [1747181456784, 2067527214968.4673],
  [1747181757233, 2067527214968.4673],
  [1747182046218, 2065817675135.7883],
  [1747182362165, 2066736262642.3801],
  [1747182692980, 2065461856869.8445],
  [1747182998453, 2064823957924.5955],
  [1747183310668, 2065565528690.0254],
  [1747183565593, 2064852170058.0417],
  [1747183893632, 2064480647501.5737],
  [1747184127554, 2064281641270.5454],
  [1747184761698, 2064655396821.3848],
  [1747185046394, 2064690773609.5469],
  [1747185396028, 2065409578054.706],
  [1747185624577, 2066035579803.0112],
  [1747186002502, 2065415961962.117],
  [1747186264105, 2064527887945.483],
  [1747186554221, 2065174112979.6443],
  [1747186888165, 2065170957188.1104],
  [1747187196523, 2065528733199.9521],
  [1747187435355, 2065481830549.0059],
  [1747187743389, 2063514940207.0479],
  [1747188077230, 2063275117870.4255],
  [1747188383586, 2062360267336.403],
  [1747188644826, 2060992137565.822],
  [1747188961613, 2059052539846.5913],
  [1747189286719, 2059350640802.9324],
  [1747189564279, 2059644984153.1052],
  [1747189855414, 2058893072768.786],
  [1747190162779, 2058289704865.7334],
  [1747190538534, 2058710408614.324],
  [1747190725641, 2059400684852.542],
  [1747191062469, 2059436696821.3398],
  [1747191374663, 2059345780034.1504],
  [1747191775359, 2059738437378.8765],
  [1747191941992, 2059738437378.8765],
  [1747192300066, 2059454671444.0862],
  [1747192537175, 2059038514955.2776],
  [1747192865185, 2058490687589.6333],
  [1747193189979, 2057605636676.3896],
  [1747193494949, 2057369667312.0906],
  [1747193775176, 2056934690760.0315],
  [1747194103606, 2056459287743.059],
  [1747194328398, 2056807597462.7185],
  [1747194635093, 2057102968355.1726],
  [1747194992812, 2056980285648.2527],
  [1747195317746, 2057237752126.6929],
  [1747195534697, 2057237752126.6929],
  [1747195843576, 2057089554364.5166],
  [1747196174220, 2056699644730.9363],
  [1747196433098, 2056699644730.9363],
  [1747196762460, 2056753303439.6567],
  [1747197076822, 2057815803162.5303],
  [1747197347402, 2057707218866.0354],
  [1747197688026, 2058529495583.4717],
  [1747197923883, 2058977229924.264],
  [1747198284766, 2059783374600.5403],
  [1747198532319, 2059766322440.083],
  [1747198845440, 2059825679681.2734],
  [1747199190912, 2059976088612.9216],
  [1747199505970, 2060278719745.4885],
  [1747199731883, 2060133503893.7224],
  [1747200025336, 2060841921391.3982],
  [1747200375173, 2061173571718.7957],
  [1747200708410, 2061348301632.6619],
  [1747201191359, 2060830273427.6594],
  [1747201762801, 2060830273427.6594],
  [1747202076832, 2062488523409.6985],
  [1747202200566, 2062488523409.6985],
  [1747202455175, 2063398315314.0898],
  [1747202787408, 2063694023467.6807],
  [1747203046854, 2063694023467.6807],
  [1747203404396, 2063185053070.2368],
  [1747203663380, 2063185053070.2368],
  [1747204007361, 2061677926816.6042],
  [1747204274919, 2061615277693.257],
  [1747204533101, 2061276544666.4443],
  [1747204867540, 2060817127139.2114],
  [1747205194299, 2060503353660.9585],
  [1747205440402, 2060274762849.5647],
  [1747205762776, 2060810778905.9092],
  [1747206062280, 2060983904105.8445],
  [1747206342422, 2060793854103.718],
  [1747206639595, 2060024733092.835],
  [1747206928985, 2060003825481.9167],
  [1747207274290, 2059268700656.6084],
  [1747207539264, 2058952864875.989],
  [1747207871940, 2056971356173.0723],
  [1747208143701, 2056823779129.7114],
  [1747208435235, 2056905718401.8887],
  [1747208752152, 2056922499361.2715],
  [1747209084792, 2058033256617.187],
  [1747209362065, 2058567568702.6892],
  [1747209635454, 2059039428875.0735],
  [1747209961603, 2059484876195.4756],
  [1747210258427, 2058688599370.2415],
  [1747210533540, 2057781327382.4343],
  [1747210873182, 2057617557337.2454],
  [1747211184881, 2058399812551.8938],
  [1747211492309, 2058360982568.331],
  [1747211742711, 2057763390676.3777],
  [1747212064444, 2057658896611.2517],
  [1747212340016, 2058248877149.8323],
  [1747212685074, 2058396465832.8286],
  [1747213006088, 2057896196944.3394],
  [1747213300835, 2055356054950.0022],
  [1747213525874, 2055356054950.0022],
  [1747213839746, 2050151988690.7583],
  [1747214146265, 2049477343068.0562],
  [1747214444432, 2049427903159.4287],
  [1747214770007, 2049629071965.9705],
  [1747215027612, 2049820075544.3645],
  [1747215350463, 2050602333141.7988],
  [1747215647464, 2050361117000.7798],
  [1747215993889, 2050171358298.0264],
  [1747216244848, 2051474645561.3154],
  [1747216582473, 2051771777126.6267],
  [1747217121339, 2053574974396.933],
  [1747217511220, 2056124730266.9106],
  [1747217754940, 2056482906429.2212],
  [1747218113431, 2057630281922.143],
  [1747218329468, 2057788143606.7827],
  [1747218651555, 2059107829932.7617],
  [1747218939391, 2059837241666.3474],
  [1747219223585, 2060703959361.1294],
  [1747219574615, 2060922355891.081],
  [1747219895975, 2061182013291.4858],
  [1747220166620, 2060672732890.2341],
  [1747220509933, 2060729257190.2773],
  [1747220727148, 2061449117194.352],
  [1747221069216, 2062156727978.09],

In [92]:
data = response.json()
data.keys()

dict_keys(['prices', 'market_caps', 'total_volumes'])

In [93]:
#retrieves the first 5 prices from the data
data['prices'][:5]

[[1747149383569, 103489.80402012373],
 [1747149655001, 103576.04183850522],
 [1747149988534, 103599.06732275485],
 [1747150244350, 103661.3024307318],
 [1747150549269, 103614.10773058854]]

In [94]:
#retrieves the first 5 market caps
data['market_caps'][:5]

[[1747149383569, 2052650667289.1338],
 [1747149655001, 2056256249607.4531],
 [1747149988534, 2057797676437.0977],
 [1747150244350, 2059277790041.3035],
 [1747150549269, 2059083065192.4585]]

In [95]:
#creating a dataframe

df = pd.DataFrame(data)
df.head()

,prices,market_caps,total_volumes
0,"[1747149383569, 103489.80402012373]","[1747149383569, 2052650667289.1338]","[1747149383569, 37521906754.28753]"
1,"[1747149655001, 103576.04183850522]","[1747149655001, 2056256249607.4531]","[1747149655001, 36759587745.33394]"
2,"[1747149988534, 103599.06732275485]","[1747149988534, 2057797676437.0977]","[1747149988534, 36647090180.05723]"
3,"[1747150244350, 103661.3024307318]","[1747150244350, 2059277790041.3035]","[1747150244350, 33272815019.816353]"
4,"[1747150549269, 103614.10773058854]","[1747150549269, 2059083065192.4585]","[1747150549269, 34786148415.61599]"

In [96]:
#notice that for each of the columns we have a timestamp attached in each list
#we need to extract this

#to see what it looks like
df['prices'].str[0]

0      1747149383569
1      1747149655001
2      1747149988534
3      1747150244350
4      1747150549269
           ...
274    1747234293356
275    1747234533857
276    1747234860123
277    1747235193067
278    1747235591000
Name: prices, Length: 279, dtype: int64

In [97]:
#adding a timestamp column
#str[0] extracts the first character from each price string in the prices column

df['timestamp'] = df['prices'].str[0]
df.head()

,prices,market_caps,total_volumes,timestamp
0,"[1747149383569, 103489.80402012373]","[1747149383569, 2052650667289.1338]","[1747149383569, 37521906754.28753]",1747149383569
1,"[1747149655001, 103576.04183850522]","[1747149655001, 2056256249607.4531]","[1747149655001, 36759587745.33394]",1747149655001
2,"[1747149988534, 103599.06732275485]","[1747149988534, 2057797676437.0977]","[1747149988534, 36647090180.05723]",1747149988534
3,"[1747150244350, 103661.3024307318]","[1747150244350, 2059277790041.3035]","[1747150244350, 33272815019.816353]",1747150244350
4,"[1747150549269, 103614.10773058854]","[1747150549269, 2059083065192.4585]","[1747150549269, 34786148415.61599]",1747150549269

In [98]:
#lets further simplify the table

df['prices'] = df['prices'].str[1]
df['market_caps'] = df['market_caps'].str[1]
df['total_volumes'] = df['total_volumes'].str[1]

df.head()

          prices   market_caps  total_volumes      timestamp
0  103489.804020  2.052651e+12   3.752191e+10  1747149383569
1  103576.041839  2.056256e+12   3.675959e+10  1747149655001
2  103599.067323  2.057798e+12   3.664709e+10  1747149988534
3  103661.302431  2.059278e+12   3.327282e+10  1747150244350
4  103614.107731  2.059083e+12   3.478615e+10  1747150549269

In [99]:
#Rearranging the dataframe

df = df[['timestamp', 'prices', 'market_caps', 'total_volumes']]
df

         timestamp         prices   market_caps  total_volumes
0    1747149383569  103489.804020  2.052651e+12   3.752191e+10
1    1747149655001  103576.041839  2.056256e+12   3.675959e+10
2    1747149988534  103599.067323  2.057798e+12   3.664709e+10
3    1747150244350  103661.302431  2.059278e+12   3.327282e+10
4    1747150549269  103614.107731  2.059083e+12   3.478615e+10
..             ...            ...           ...            ...
274  1747234293356  103256.868315  2.050703e+12   3.153528e+10
275  1747234533857  103330.124309  2.051659e+12   3.184318e+10
276  1747234860123  103302.669415  2.052074e+12   3.151348e+10
277  1747235193067  103248.376616  2.051159e+12   3.152237e+10
278  1747235591000  103219.177343  2.050327e+12   3.156704e+10

[279 rows x 4 columns]

In [100]:
#to obtain more information on the the dataframe

df.describe()

          timestamp         prices   market_caps  total_volumes
count  2.790000e+02     279.000000  2.790000e+02   2.790000e+02
mean   1.747192e+12  103911.061602  2.064084e+12   3.314785e+10
std    2.485177e+07     355.875813  7.088310e+09   1.469865e+09
min    1.747149e+12  103165.940134  2.049428e+12   2.956841e+10
25%    1.747170e+12  103639.458333  2.058787e+12   3.186968e+10
50%    1.747192e+12  103893.553291  2.063680e+12   3.298513e+10
75%    1.747213e+12  104130.209946  2.068364e+12   3.413190e+10
max    1.747236e+12  104836.236555  2.081530e+12   3.752191e+10

In [101]:
#the timestamp column is in integer instead of datetime data type
pd.to_datetime(df['timestamp'])

0     1970-01-01 00:29:07.149383569
1     1970-01-01 00:29:07.149655001
2     1970-01-01 00:29:07.149988534
3     1970-01-01 00:29:07.150244350
4     1970-01-01 00:29:07.150549269
                   ...
274   1970-01-01 00:29:07.234293356
275   1970-01-01 00:29:07.234533857
276   1970-01-01 00:29:07.234860123
277   1970-01-01 00:29:07.235193067
278   1970-01-01 00:29:07.235591000
Name: timestamp, Length: 279, dtype: datetime64[ns]

In [102]:
#we can see that the unit for the output is in nano seconds
#converting to microseconds

pd.to_datetime(df['timestamp'], unit = 'ms')

0     2025-05-13 15:16:23.569
1     2025-05-13 15:20:55.001
2     2025-05-13 15:26:28.534
3     2025-05-13 15:30:44.350
4     2025-05-13 15:35:49.269
                ...
274   2025-05-14 14:51:33.356
275   2025-05-14 14:55:33.857
276   2025-05-14 15:01:00.123
277   2025-05-14 15:06:33.067
278   2025-05-14 15:13:11.000
Name: timestamp, Length: 279, dtype: datetime64[ns]

In [103]:
#this is good to go, lets replace the timestamp column

df['timestamp'] = pd.to_datetime(df['timestamp'], unit = 'ms')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      279 non-null    datetime64[ns]
 1   prices         279 non-null    float64
 2   market_caps    279 non-null    float64
 3   total_volumes  279 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 8.8 KB